{
  "openapi": "3.1.0",
  "info": {
    "title": "AirCloud External API",
    "description": "AirCloud 엔드포인트를 프로그래밍 방식으로 관리하는 REST API입니다.",
    "version": "1.0.0",
    "contact": {
      "name": "support",
      "url": "https://aieev.com",
      "email": "support@aieev.cloud"
    }
  },
  "servers": [
    {
      "url": "https://external.aieev.cloud:5007/external/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Authentication", "description": "API Key 인증 정보 확인" },
    { "name": "Endpoints", "description": "엔드포인트 관리: 조회, 시작, 중지, 스케일링, 설정 변경" },
    { "name": "Replicas", "description": "레플리카 상태 조회" },
    { "name": "Logs", "description": "엔드포인트 로그 조회" }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "인증 컨텍스트 조회",
        "description": "현재 사용 중인 API key가 어떤 organization, project, user에 매핑되어 있는지 조회합니다.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "인증 컨텍스트 정보",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MeResponse" }
              }
            }
          },
          "401": {
            "description": "API Key 누락 또는 유효하지 않음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/endpoints": {
      "get": {
        "tags": ["Endpoints"],
        "summary": "엔드포인트 목록 조회",
        "description": "현재 API key로 접근 가능한 엔드포인트 목록을 페이지네이션으로 조회합니다.",
        "operationId": "listEndpoints",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "엔드포인트 이름으로 검색",
            "schema": { "type": "string", "example": "my-model" }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "활성 상태로 필터링. `true`면 실행 중인 엔드포인트만, `false`면 중지된 엔드포인트만 반환",
            "schema": { "type": "boolean", "example": true }
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호. 1부터 시작",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지당 항목 수. 최소 1, 최대 2000",
            "schema": { "type": "integer", "minimum": 1, "maximum": 2000, "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 목록",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EndpointListResponse" }
              }
            }
          },
          "401": { "description": "API Key 누락 또는 유효하지 않음" }
        }
      }
    },
    "/endpoints/{endpoint_id}": {
      "get": {
        "tags": ["Endpoints"],
        "summary": "엔드포인트 상태 조회",
        "description": "특정 엔드포인트의 현재 상태를 조회합니다. 활성 상태일 경우 레플리카 상태 요약도 포함됩니다.",
        "operationId": "getEndpointStatus",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string", "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598" }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 상태",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EndpointStatusResponse" }
              }
            }
          },
          "403": { "description": "엔드포인트가 해당 조직 또는 프로젝트에 속하지 않음" },
          "404": { "description": "엔드포인트를 찾을 수 없음" }
        }
      },
      "patch": {
        "tags": ["Endpoints"],
        "summary": "엔드포인트 설정 수정",
        "description": "비활성 엔드포인트의 런타임 설정을 수정합니다. 최소 하나 이상의 필드를 제공해야 합니다. 활성 상태이면 먼저 중지해야 합니다.",
        "operationId": "patchEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "수정할 필드. 모든 필드가 선택사항이지만, 최소 하나는 제공해야 합니다.",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EndpointPatchInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정된 엔드포인트 설정",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EndpointPatchResponse" }
              }
            }
          },
          "400": { "description": "수정할 필드가 하나도 제공되지 않음" },
          "409": { "description": "엔드포인트가 활성 상태. 먼저 중지해야 함" }
        }
      }
    },
    "/endpoints/{endpoint_id}/start": {
      "post": {
        "tags": ["Endpoints"],
        "summary": "엔드포인트 시작",
        "description": "비활성 상태의 엔드포인트를 시작합니다. 조직의 크레딧 잔액이 충분해야 합니다. 레플리카 스케일링 전에 반드시 엔드포인트가 활성화되어 있어야 합니다.",
        "operationId": "startEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 시작 결과",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StartStopResponse" },
                "examples": {
                  "started": {
                    "summary": "시작 성공",
                    "value": { "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598", "is_active": true, "message": "Endpoint started successfully" }
                  },
                  "already_active": {
                    "summary": "이미 활성 상태",
                    "value": { "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598", "is_active": true, "message": "Endpoint is already active" }
                  }
                }
              }
            }
          },
          "500": { "description": "시작 실패 (잔액 부족, 리소스 할당 실패 등)" }
        }
      }
    },
    "/endpoints/{endpoint_id}/stop": {
      "post": {
        "tags": ["Endpoints"],
        "summary": "엔드포인트 중지",
        "description": "활성 상태의 엔드포인트를 중지합니다.",
        "operationId": "stopEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 중지 결과",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StartStopResponse" },
                "examples": {
                  "stopped": {
                    "summary": "중지 성공",
                    "value": { "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598", "is_active": false, "message": "Endpoint stopped successfully" }
                  },
                  "already_stopped": {
                    "summary": "이미 중지 상태",
                    "value": { "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598", "is_active": false, "message": "Endpoint is already stopped" }
                  }
                }
              }
            }
          },
          "500": { "description": "중지 실패" }
        }
      }
    },
    "/endpoints/{endpoint_id}/scale": {
      "post": {
        "tags": ["Endpoints"],
        "summary": "레플리카 스케일링",
        "description": "활성 엔드포인트의 레플리카 수를 조정합니다. 오토스케일링이 비활성화된 상태에서만 사용 가능합니다.",
        "operationId": "scaleEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ScaleReplicasInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "스케일링 결과",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ScaleReplicasResponse" }
              }
            }
          },
          "400": { "description": "엔드포인트가 비활성 상태이거나 오토스케일링이 활성화된 상태" }
        }
      }
    },
    "/endpoints/{endpoint_id}/replicas": {
      "get": {
        "tags": ["Replicas"],
        "summary": "레플리카 목록 조회",
        "description": "특정 엔드포인트에서 현재 실행 중인 레플리카 목록을 조회합니다.",
        "operationId": "listReplicas",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "레플리카 목록",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ReplicaResponse" } }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/logs": {
      "get": {
        "tags": ["Logs"],
        "summary": "로그 파일 목록 조회",
        "description": "특정 엔드포인트의 로그 파일 목록을 조회합니다. 레플리카별, 이력 로그 포함 조회가 가능합니다.",
        "operationId": "listLogFiles",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string" }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "특정 레플리카의 로그만 필터링",
            "schema": { "type": "string" }
          },
          {
            "name": "include_history",
            "in": "query",
            "description": "`false`로 설정하면 현재 활성 로그만 반환하고 이전 로테이션된 로그는 제외",
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": {
            "description": "로그 파일 목록",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/LogFile" } }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/logs/file": {
      "get": {
        "tags": ["Logs"],
        "summary": "로그 파일 내용 조회",
        "description": "특정 로그 파일의 실제 내용을 라인 범위로 조회합니다.",
        "operationId": "getLogFileContent",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": { "type": "string" }
          },
          {
            "name": "node_id",
            "in": "query",
            "required": true,
            "description": "로그 파일이 위치한 노드 ID. `/logs` 응답의 `node_id` 값 사용",
            "schema": { "type": "string" }
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "로그 파일 경로. `/logs` 응답의 `filename` 값 사용",
            "schema": { "type": "string" }
          },
          {
            "name": "start_line",
            "in": "query",
            "description": "읽기 시작할 라인 번호. 1부터 시작",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "end_line",
            "in": "query",
            "description": "읽기 종료할 라인 번호. 최대 50000",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50000, "default": 1000 }
          }
        ],
        "responses": {
          "200": {
            "description": "로그 파일 내용",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LogContent" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API Key를 Bearer 토큰으로 전달합니다. 프로젝트 개요의 API 키 메뉴에서 생성할 수 있습니다."
      }
    },
    "schemas": {
      "MeResponse": {
        "type": "object",
        "properties": {
          "organization_id": { "type": "string", "description": "API Key에 연결된 조직 ID", "example": "org-0I2GoSBhwODG" },
          "project_id": { "type": "string", "description": "API Key에 연결된 프로젝트 ID", "example": "proj-sGF4ynUPbc8H" },
          "api_key_id": { "type": "string", "description": "인증에 사용된 API Key ID", "example": "9e9a776f-2ce6-42c9-ad70-c75936ce662b" },
          "user_id": { "type": "string", "nullable": true, "description": "API Key를 생성한 사용자 ID", "example": "6377ae7c-8986-477c-ab87-7f8eb63bf785" },
          "authenticated_via": { "type": "string", "description": "인증 방식", "example": "api_key" }
        }
      },
      "EndpointListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "엔드포인트 고유 ID", "example": "cad59665-b77b-4cb6-9308-d276294bce79" },
          "name": { "type": "string", "description": "엔드포인트 이름", "example": "my-llm-endpoint" },
          "endpoint_type": { "type": "string", "description": "엔드포인트 유형", "example": "container" },
          "is_active": { "type": "boolean", "description": "현재 활성(실행 중) 여부", "example": true },
          "status": { "type": "string", "description": "현재 상태 (RUNNING, STOPPED, DEPLOYING 등)", "example": "RUNNING" },
          "num_replicas": { "type": "integer", "description": "현재 레플리카 수", "example": 2 },
          "enable_autoscaling": { "type": "boolean", "description": "오토스케일링 활성화 여부", "example": false },
          "instance_type_name": { "type": "string", "nullable": true, "description": "할당된 인스턴스 타입 이름", "example": "RTX 4070 Super" },
          "serving_endpoint_url": { "type": "string", "nullable": true, "description": "엔드포인트 공개 URL", "example": "https://ap-1.aieev.cloud/ac/7/cad59665-b77b-4cb6-9308-d276294bce79" },
          "created_at": { "type": "string", "format": "date-time", "description": "생성 시간 (ISO 8601)" },
          "updated_at": { "type": "string", "format": "date-time", "description": "수정 시간 (ISO 8601)" }
        }
      },
      "EndpointListResponse": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/EndpointListItem" }, "description": "엔드포인트 객체 배열" },
          "total": { "type": "integer", "description": "전체 엔드포인트 수", "example": 5 },
          "page": { "type": "integer", "description": "현재 페이지 번호", "example": 1 },
          "size": { "type": "integer", "description": "페이지당 항목 수", "example": 50 },
          "pages": { "type": "integer", "description": "전체 페이지 수", "example": 1 }
        }
      },
      "EndpointStatusResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": { "type": "string", "description": "엔드포인트 고유 ID", "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598" },
          "name": { "type": "string", "description": "엔드포인트 이름", "example": "aieev-endpoint" },
          "endpoint_type": { "type": "string", "description": "엔드포인트 유형", "example": "container" },
          "is_active": { "type": "boolean", "description": "현재 활성 여부", "example": true },
          "status": { "type": "string", "description": "현재 상태. 활성 시 Ray Serve에서 실시간 조회", "example": "RUNNING" },
          "num_replicas": { "type": "integer", "description": "현재 레플리카 수", "example": 2 },
          "enable_autoscaling": { "type": "boolean", "description": "오토스케일링 활성화 여부", "example": false },
          "instance_type_name": { "type": "string", "nullable": true, "description": "인스턴스 타입 이름", "example": "RTX 5090" },
          "serving_endpoint_url": { "type": "string", "nullable": true, "description": "엔드포인트 공개 URL", "example": "https://ap-1.aieev.cloud/ac/7/51c910f7-ecde-4c6c-88f8-d8e37ca9d598" },
          "replica_status_summary": { "type": "object", "nullable": true, "additionalProperties": { "type": "integer" }, "description": "상태별 레플리카 수. 활성 상태에서만 제공", "example": { "RUNNING": 2, "STARTING": 0 } },
          "created_at": { "type": "string", "format": "date-time", "description": "생성 시간" },
          "updated_at": { "type": "string", "format": "date-time", "description": "수정 시간" }
        }
      },
      "StartStopResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": { "type": "string", "description": "엔드포인트 고유 ID", "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598" },
          "is_active": { "type": "boolean", "description": "작업 후 활성 상태", "example": true },
          "message": { "type": "string", "description": "결과 메시지", "example": "Endpoint started successfully" }
        }
      },
      "ScaleReplicasInput": {
        "type": "object",
        "required": ["num_replicas"],
        "properties": {
          "num_replicas": { "type": "integer", "minimum": 1, "maximum": 100, "description": "변경할 레플리카 수 (1-100)", "example": 3 }
        }
      },
      "ScaleReplicasResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": { "type": "string", "description": "엔드포인트 고유 ID", "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598" },
          "previous_replicas": { "type": "integer", "description": "변경 전 레플리카 수", "example": 1 },
          "current_replicas": { "type": "integer", "description": "변경 후 레플리카 수", "example": 3 },
          "message": { "type": "string", "description": "결과 메시지", "example": "Successfully scaled from 1 to 3 replicas" }
        }
      },
      "EndpointPatchInput": {
        "type": "object",
        "properties": {
          "container_start_command": { "type": "string", "nullable": true, "description": "컨테이너 시작 명령어", "example": "python app.py" },
          "container_env_vars": {
            "type": "array", "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "key": { "type": "string", "description": "환경변수 키", "example": "ENV" },
                "value": { "type": "string", "description": "환경변수 값", "example": "prod" }
              }
            },
            "description": "컨테이너 환경 변수 목록"
          },
          "container_port": { "type": "integer", "minimum": 1, "maximum": 65535, "nullable": true, "description": "컨테이너 서비스 포트 (1-65535)", "example": 8080 },
          "container_health_check_path": { "type": "string", "nullable": true, "description": "헬스체크 경로", "example": "/healthz" },
          "container_health_check_timeout": { "type": "integer", "minimum": 1, "nullable": true, "description": "컨테이너 헬스체크 타임아웃(초)", "example": 30 },
          "health_check_timeout": { "type": "integer", "minimum": 1, "nullable": true, "description": "전체 헬스체크 타임아웃(초). 이 시간 내에 헬스체크가 통과하지 않으면 배포 실패", "example": 300 },
          "container_metric_path": { "type": "string", "nullable": true, "description": "Prometheus 메트릭 수집 경로", "example": "/metrics" }
        }
      },
      "EndpointPatchResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": { "type": "string", "description": "엔드포인트 고유 ID" },
          "name": { "type": "string", "description": "엔드포인트 이름" },
          "is_active": { "type": "boolean", "description": "활성 여부 (수정 성공 시 항상 false)" },
          "container_start_command": { "type": "string", "nullable": true, "description": "현재 설정된 시작 명령어" },
          "container_env_vars": { "type": "array", "nullable": true, "items": { "type": "object" }, "description": "현재 설정된 환경변수" },
          "container_port": { "type": "integer", "nullable": true, "description": "현재 설정된 포트" },
          "container_health_check_path": { "type": "string", "nullable": true, "description": "현재 설정된 헬스체크 경로" },
          "container_health_check_timeout": { "type": "integer", "nullable": true, "description": "현재 설정된 헬스체크 타임아웃" },
          "health_check_timeout": { "type": "integer", "nullable": true, "description": "현재 설정된 전체 헬스체크 타임아웃" },
          "container_metric_path": { "type": "string", "nullable": true, "description": "현재 설정된 메트릭 경로" },
          "updated_at": { "type": "string", "format": "date-time", "description": "수정 시간" }
        }
      },
      "ReplicaResponse": {
        "type": "object",
        "properties": {
          "replica_id": { "type": "string", "description": "레플리카 고유 ID", "example": "2xoeq1pe" },
          "state": { "type": "string", "description": "레플리카 상태 (RUNNING, STARTING, STOPPING 등)", "example": "RUNNING" },
          "node_id": { "type": "string", "nullable": true, "description": "레플리카가 실행 중인 노드 ID" },
          "node_ip": { "type": "string", "nullable": true, "description": "노드 IP 주소", "example": "100.64.0.11" },
          "actor_id": { "type": "string", "nullable": true, "description": "Ray actor ID" },
          "actor_name": { "type": "string", "nullable": true, "description": "Ray actor 이름" },
          "worker_id": { "type": "string", "nullable": true, "description": "Ray worker ID" },
          "pid": { "type": "integer", "nullable": true, "description": "프로세스 ID" },
          "start_time_s": { "type": "number", "nullable": true, "description": "레플리카 시작 시간 (Unix timestamp, 초 단위)" }
        }
      },
      "LogFile": {
        "type": "object",
        "properties": {
          "node_id": { "type": "string", "description": "로그가 저장된 노드 ID" },
          "replica_id": { "type": "string", "description": "연결된 레플리카 ID" },
          "filename": { "type": "string", "description": "로그 파일 경로. /logs/file API의 filename 파라미터에 사용" },
          "is_historical": { "type": "boolean", "description": "이전 로테이션된(과거) 로그 파일 여부. true이면 종료된 레플리카의 로그" },
          "start_time": { "type": "string", "format": "date-time", "nullable": true, "description": "로그 시작 시간. 이력 로그에서만 제공" },
          "end_time": { "type": "string", "format": "date-time", "nullable": true, "description": "로그 종료 시간. 이력 로그에서만 제공" }
        }
      },
      "LogContent": {
        "type": "object",
        "properties": {
          "content": { "type": "string", "description": "로그 파일 내용 (지정된 라인 범위). 각 줄은 JSON 형식의 로그 엔트리" },
          "start_line": { "type": "integer", "description": "실제 반환된 시작 라인 번호" },
          "end_line": { "type": "integer", "description": "실제 반환된 종료 라인 번호" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": { "type": "string", "description": "에러 메시지" }
        }
      }
    }
  }
}
