{
  "openapi": "3.1.0",
  "info": {
    "title": "AirCloud External API",
    "description": "Public REST API for managing AirCloud endpoints and Jobs programmatically.",
    "version": "1.0.0",
    "contact": {
      "name": "support",
      "url": "https://aieev.com",
      "email": "support@aieev.cloud"
    }
  },
  "servers": [
    {
      "url": "https://external.aieev.cloud:5000/external/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Verify API key context."
    },
    {
      "name": "Endpoints",
      "description": "Manage endpoints: list, start, stop, scale, and patch."
    },
    {
      "name": "Replicas",
      "description": "View live replica status."
    },
    {
      "name": "Logs",
      "description": "Access endpoint log files."
    },
    {
      "name": "Jobs",
      "description": "Submit and manage run-to-completion jobs."
    },
    {
      "name": "Usage",
      "description": "Job usage and cost."
    },
    {
      "name": "Volumes",
      "description": "List volumes that Jobs can mount."
    },
    {
      "name": "Instance Types",
      "description": "List instance types available for Jobs."
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get API Key Context",
        "description": "Returns the organization, project, and user mapped to the current API key.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Authenticated context information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "List Endpoints",
        "description": "Returns a paginated list of endpoints accessible by the current API key.",
        "operationId": "listEndpoints",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to filter by. Optional — it must match the API key's project; any other value returns 403.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search endpoints by name.",
            "schema": {
              "type": "string",
              "example": "my-model"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status. `true` returns only running endpoints, `false` returns only stopped endpoints.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting from 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page. Min 1, max 2000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          }
        }
      }
    },
    "/endpoints/{endpoint_id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Get Endpoint Status",
        "description": "Returns the current status of an endpoint. Includes replica status summary when active.",
        "operationId": "getEndpointStatus",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string",
              "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointStatusResponse"
                }
              }
            }
          },
          "403": {
            "description": "Endpoint does not belong to your organization or project."
          },
          "404": {
            "description": "Endpoint not found."
          }
        }
      },
      "patch": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Patch Endpoint Settings",
        "description": "Update runtime settings for an inactive endpoint. At least one field must be provided. Stop the endpoint first if it is active.",
        "operationId": "patchEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Fields to update. All fields are optional, but at least one must be provided.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndpointPatchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated endpoint settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointPatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "No patch field provided."
          },
          "409": {
            "description": "Endpoint is active. Stop it first."
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/start": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Start Endpoint",
        "description": "Start an inactive endpoint. The organization must have sufficient credit balance. The endpoint must be active before scaling replicas.",
        "operationId": "startEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Start result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartStopResponse"
                },
                "examples": {
                  "started": {
                    "summary": "Successfully started",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": true,
                      "message": "Endpoint started successfully"
                    }
                  },
                  "already_active": {
                    "summary": "Already active",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": true,
                      "message": "Endpoint is already active"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to start (insufficient balance, resource allocation failure, etc.)."
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/stop": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Stop Endpoint",
        "description": "Stop an active endpoint.",
        "operationId": "stopEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stop result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartStopResponse"
                },
                "examples": {
                  "stopped": {
                    "summary": "Successfully stopped",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": false,
                      "message": "Endpoint stopped successfully"
                    }
                  },
                  "already_stopped": {
                    "summary": "Already stopped",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": false,
                      "message": "Endpoint is already stopped"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to stop."
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/scale": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Scale Endpoint Replicas",
        "description": "Scale the number of replicas for an active endpoint. Autoscaling must be disabled.",
        "operationId": "scaleEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScaleReplicasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scale result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScaleReplicasResponse"
                }
              }
            }
          },
          "400": {
            "description": "Endpoint is inactive or autoscaling is enabled."
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/replicas": {
      "get": {
        "tags": [
          "Replicas"
        ],
        "summary": "List Replicas",
        "description": "Returns live replica details for an active endpoint.",
        "operationId": "listReplicas",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of replicas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReplicaResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "List Log Files",
        "description": "Returns available log files for an endpoint. Supports filtering by replica and history.",
        "operationId": "listLogFiles",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "Filter logs by a specific replica ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_history",
            "in": "query",
            "description": "Set to `false` to exclude rotated historical logs and return only current active logs.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of log files.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogFile"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/logs/file": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get Log File Content",
        "description": "Returns the content of a specific log file by line range.",
        "operationId": "getLogFileContent",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Unique endpoint ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "node_id",
            "in": "query",
            "required": true,
            "description": "Node ID where the log file is located. Use the `node_id` value from the `/logs` response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "Log file path. Use the `filename` value from the `/logs` response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_line",
            "in": "query",
            "description": "Starting line number (1-based).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "end_line",
            "in": "query",
            "description": "Ending line number. Max 50000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50000,
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log file content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogContent"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Submit Job",
        "description": "Submit a Job that runs a container image and command to completion. The Job is queued and returns `202 Accepted` with the Job object. Send an `Idempotency-Key` header to make retries safe.\n\n`command` is an array of strings; use `[\"sh\", \"-c\", \"...\"]` when you need shell syntax. `env` is an array of `{key, value}` objects. A Job can mount at most one volume.",
        "operationId": "submitJob",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Recommended. A unique key (ASCII, no spaces, 1-255 characters) generated once per user submit action. Reuse the same key when retrying the same request. Keys are kept for 24 hours per project. Same key and same body returns the original Job (`202` with response header `Idempotent-Replayed: true`) without creating a new one; same key with a different body returns 422. Without a key, every request creates a new Job.",
            "schema": {
              "type": "string",
              "pattern": "^[\\x21-\\x7E]{1,255}$",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Job definition.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalJobCreateRequest"
              },
              "example": {
                "name": "hello",
                "instance_type_id": "it-xxxxxxxx",
                "registry_url": "python:3.11-slim",
                "registry_type": "docker_hub",
                "image_is_public": true,
                "command": [
                  "python",
                  "-c",
                  "import os; print('epochs', os.environ['EPOCHS'])"
                ],
                "env": [
                  {
                    "key": "EPOCHS",
                    "value": "3"
                  }
                ],
                "volume": {
                  "volume_id": "vol-xxxxxxxx",
                  "mounts": [
                    {
                      "container_path": "/data",
                      "subpath": ""
                    }
                  ]
                },
                "shm_size_gb": 8,
                "working_dir": "/data"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "QUEUED",
                  "reason": null,
                  "exit_code": null,
                  "message": null,
                  "cluster_name": null,
                  "container_name": null,
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": null,
                  "finished_at": null,
                  "cancel_requested_at": null,
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "400": {
            "description": "Request rejected by the platform. Retrying with the same `Idempotency-Key` is safe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Failed to submit job",
                  "detail": "Failed to submit job"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id` does not match the API key's project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, or the `Idempotency-Key` was already used with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/HTTPValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "validation_error": {
                    "summary": "Validation error",
                    "value": {
                      "detail": [
                        {
                          "loc": [
                            "body",
                            "command"
                          ],
                          "msg": "Field required",
                          "type": "missing"
                        }
                      ]
                    }
                  },
                  "idempotency_key_mismatch": {
                    "summary": "Idempotency-Key reused with a different body",
                    "value": {
                      "detail": "Idempotency-Key was already used with a different request body"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List Jobs",
        "description": "Returns the Jobs of the API key's project, optionally filtered by status.",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID. Optional - it must match the API key's project; any other value returns 403.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return only Jobs in this status.",
            "schema": {
              "$ref": "#/components/schemas/JobStatus"
            },
            "example": "RUNNING"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobResponse"
                  }
                },
                "example": [
                  {
                    "id": "job-0a1b2c3d4e5f",
                    "organization_id": "org-0I2GoSBhwODG",
                    "project_id": "proj-sGF4ynUPbc8H",
                    "name": "hello",
                    "instance_type_id": "it-xxxxxxxx",
                    "status": "QUEUED",
                    "reason": null,
                    "exit_code": null,
                    "message": null,
                    "cluster_name": null,
                    "container_name": null,
                    "created_at": "2026-09-30T05:00:00Z",
                    "started_at": null,
                    "finished_at": null,
                    "cancel_requested_at": null,
                    "status_unknown_since": null,
                    "progress": null
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id` does not match the API key's project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request. For POST /jobs this includes reusing an `Idempotency-Key` with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get Job",
        "description": "Returns the status of a Job, including `reason` and `exit_code` once it has finished.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Unique Job ID.",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          }
        ],
        "responses": {
          "200": {
            "description": "Job object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "SUCCEEDED",
                  "reason": null,
                  "exit_code": 0,
                  "message": null,
                  "cluster_name": "cluster-xxxx",
                  "container_name": "job-0a1b2c3d4e5f",
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": "2026-09-30T05:01:10Z",
                  "finished_at": "2026-09-30T05:03:42Z",
                  "cancel_requested_at": null,
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "Job not found in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request. For POST /jobs this includes reusing an `Idempotency-Key` with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel Job",
        "description": "Request cancellation of a Job. Returns `202` when the cancel request is accepted (status becomes `CANCELLING`, then `CANCELLED`) and `200` when the Job has already finished.",
        "operationId": "cancelJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Unique Job ID.",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          }
        ],
        "responses": {
          "200": {
            "description": "The Job has already finished; nothing to cancel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "SUCCEEDED",
                  "reason": null,
                  "exit_code": 0,
                  "message": null,
                  "cluster_name": "cluster-xxxx",
                  "container_name": "job-0a1b2c3d4e5f",
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": "2026-09-30T05:01:10Z",
                  "finished_at": "2026-09-30T05:03:42Z",
                  "cancel_requested_at": null,
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "202": {
            "description": "Cancel request accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "CANCELLING",
                  "reason": null,
                  "exit_code": null,
                  "message": null,
                  "cluster_name": null,
                  "container_name": null,
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": null,
                  "finished_at": null,
                  "cancel_requested_at": "2026-09-30T05:02:00Z",
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "400": {
            "description": "Request rejected by the platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Failed to cancel job",
                  "detail": "Failed to cancel job"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "Job not found in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/logs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get Job Logs",
        "description": "Returns stdout/stderr log lines of a Job, newest first. When `has_more` is true, pass `next_offset` as `offset` to fetch the next page.",
        "operationId": "getJobLogs",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Unique Job ID.",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by output stream.",
            "schema": {
              "enum": [
                "stdout",
                "stderr"
              ],
              "type": "string",
              "nullable": true
            },
            "example": "stderr"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Return only lines containing this text.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "Error"
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start of the time range (ISO 8601, timezone required).",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End of the time range (ISO 8601, timezone required).",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of log lines per page. Min 1, max 5000.",
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 1,
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of lines to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of log lines.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLogPage"
                },
                "example": {
                  "records": [
                    {
                      "id": "1",
                      "timestamp": "2026-09-30T05:01:20Z",
                      "source": "stdout",
                      "body": "epochs 3"
                    }
                  ],
                  "has_more": false,
                  "next_offset": null
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "Job not found in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request. For POST /jobs this includes reusing an `Idempotency-Key` with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get Job Usage",
        "description": "Returns billed minutes and cost of one Job, with a breakdown by 10-minute interval. Amounts are integer KRW. `amount` is the confirmed charge; `pending_amount` is an estimate for intervals not yet charged and can be higher than the final charge.",
        "operationId": "getJobUsage",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Unique Job ID.",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          }
        ],
        "responses": {
          "200": {
            "description": "Job usage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobUsageResponse"
                },
                "example": {
                  "job_id": "job-0a1b2c3d4e5f",
                  "currency": "KRW",
                  "billed_minutes": 10,
                  "amount": 500,
                  "pending_amount": 0,
                  "intervals": [
                    {
                      "start": "2026-09-30T05:01:10Z",
                      "end": "2026-09-30T05:11:10Z",
                      "instance_type_id": "it-xxxxxxxx",
                      "price_per_hour": 3000,
                      "minutes": 10,
                      "amount": 500,
                      "billed": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "Job not found in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request. For POST /jobs this includes reusing an `Idempotency-Key` with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Usage data is temporarily unavailable. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Usage data is temporarily unavailable. Please retry later."
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get Project Usage",
        "description": "Returns the per-Job usage totals of the project for a date range (default: last 30 days, max 92 days). Organization balance and transactions are not available with a project API key; view them in the console.",
        "operationId": "getProjectUsage",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID. Optional - it must match the API key's project; any other value returns 403.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start of the range (ISO 8601 with timezone; encode `+` as `%2B`). Defaults to 30 days before `end_date`.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "example": "2026-09-01T00:00:00+09:00"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End of the range (ISO 8601 with timezone). Defaults to now. The range may not exceed 92 days.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "example": "2026-10-01T00:00:00+09:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Project usage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectUsageResponse"
                },
                "example": {
                  "project_id": "proj-sGF4ynUPbc8H",
                  "start_date": "2026-09-01T00:00:00+09:00",
                  "end_date": "2026-10-01T00:00:00+09:00",
                  "currency": "KRW",
                  "total_amount": 500,
                  "total_pending_amount": 250,
                  "items": [
                    {
                      "job_id": "job-0a1b2c3d4e5f",
                      "name": "hello",
                      "billed_minutes": 10,
                      "amount": 500,
                      "pending_amount": 250,
                      "first_start": "2026-09-30T05:01:10Z",
                      "last_end": "2026-09-30T05:11:10Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id` does not match the API key's project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid dates, or the range exceeds 92 days.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "502": {
            "description": "Usage data is temporarily unavailable. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Usage data is temporarily unavailable. Please retry later."
                }
              }
            }
          }
        }
      }
    },
    "/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List Volumes",
        "description": "Returns the volumes of the project that a Job can mount. Volumes are read-only here; create and delete them in the console. Currently a Job mounts an existing volume attached to an Endpoint.",
        "operationId": "listVolumes",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID. Optional - it must match the API key's project; any other value returns 403.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          }
        ],
        "responses": {
          "200": {
            "description": "List of volumes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VolumeResponse"
                  }
                },
                "example": [
                  {
                    "volume_id": "vol-xxxxxxxx",
                    "name": "my-volume",
                    "size_gb": 100,
                    "status": "available",
                    "organization_id": "org-0I2GoSBhwODG",
                    "project_id": "proj-sGF4ynUPbc8H",
                    "created_at": "2026-08-01T00:00:00Z",
                    "attached_endpoints": [
                      {
                        "id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                        "name": "my-endpoint"
                      }
                    ],
                    "attached_jobs": []
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id` does not match the API key's project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request. For POST /jobs this includes reusing an `Idempotency-Key` with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/volumes/{volume_id}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Get Volume",
        "description": "Returns a single volume, including the Endpoints and Jobs it is attached to.",
        "operationId": "getVolume",
        "parameters": [
          {
            "name": "volume_id",
            "in": "path",
            "required": true,
            "description": "Unique volume ID.",
            "schema": {
              "type": "string"
            },
            "example": "vol-xxxxxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Volume object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                },
                "example": {
                  "volume_id": "vol-xxxxxxxx",
                  "name": "my-volume",
                  "size_gb": 100,
                  "status": "available",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "created_at": "2026-08-01T00:00:00Z",
                  "attached_endpoints": [
                    {
                      "id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "name": "my-endpoint"
                    }
                  ],
                  "attached_jobs": []
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "Volume not found in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Volume not found",
                  "detail": "Volume not found"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request. For POST /jobs this includes reusing an `Idempotency-Key` with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/instance-types": {
      "get": {
        "tags": [
          "Instance Types"
        ],
        "summary": "List Instance Types",
        "description": "Returns the instance types you can use for a Job. Use the `id` as `instance_type_id` when submitting. `price_per_hour` is the hourly price.",
        "operationId": "listInstanceTypes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting from 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page. Min 1, max 2000.",
            "schema": {
              "type": "integer",
              "maximum": 2000,
              "minimum": 1,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of instance types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceTypeListResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "it-xxxxxxxx",
                      "name": "gpu-a100-1x",
                      "display_name": "A100 x1",
                      "canonical_key": null,
                      "description": "1x A100 80GB",
                      "is_active": true,
                      "is_private": false,
                      "is_available": true,
                      "vcpu_count": 16,
                      "memory_gb": 120,
                      "storage_gb": 200,
                      "gpu_name": "A100",
                      "gpu_vram_gb": 80,
                      "gpu_count": 1,
                      "price_per_hour": 3000,
                      "currency": "KRW",
                      "deploy_args": null,
                      "max_replicas": 1,
                      "is_emulation": false,
                      "availability_level": "available",
                      "created_at": "2026-01-01T00:00:00Z",
                      "updated_at": "2026-01-01T00:00:00Z"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "size": 50,
                  "pages": 1
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "422": {
            "description": "Invalid request. For POST /jobs this includes reusing an `Idempotency-Key` with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as a Bearer token. Create API keys in the project overview."
      }
    },
    "schemas": {
      "MeResponse": {
        "type": "object",
        "properties": {
          "organization_id": {
            "type": "string",
            "description": "Organization ID linked to the API key.",
            "example": "org-0I2GoSBhwODG"
          },
          "project_id": {
            "type": "string",
            "description": "Project ID linked to the API key.",
            "example": "proj-sGF4ynUPbc8H"
          },
          "api_key_id": {
            "type": "string",
            "description": "API key ID used for authentication.",
            "example": "9e9a776f-2ce6-42c9-ad70-c75936ce662b"
          },
          "user_id": {
            "type": "string",
            "nullable": true,
            "description": "User ID who created the API key.",
            "example": "6377ae7c-8986-477c-ab87-7f8eb63bf785"
          },
          "authenticated_via": {
            "type": "string",
            "description": "Authentication method.",
            "example": "api_key"
          }
        }
      },
      "EndpointListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique endpoint ID.",
            "example": "cad59665-b77b-4cb6-9308-d276294bce79"
          },
          "name": {
            "type": "string",
            "description": "Endpoint name.",
            "example": "my-llm-endpoint"
          },
          "endpoint_type": {
            "type": "string",
            "description": "Endpoint type.",
            "example": "container"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the endpoint is currently active (running).",
            "example": true
          },
          "status": {
            "type": "string",
            "description": "Current status (RUNNING, STOPPED, DEPLOYING, etc.).",
            "example": "RUNNING"
          },
          "num_replicas": {
            "type": "integer",
            "description": "Current number of replicas.",
            "example": 2
          },
          "enable_autoscaling": {
            "type": "boolean",
            "description": "Whether autoscaling is enabled.",
            "example": false
          },
          "instance_type_name": {
            "type": "string",
            "nullable": true,
            "description": "Assigned instance type name.",
            "example": "RTX 4070 Super"
          },
          "serving_endpoint_url": {
            "type": "string",
            "nullable": true,
            "description": "Public URL for the endpoint.",
            "example": "https://ap-1.aieev.cloud/endpoints/cad59665-b77b-4cb6-9308-d276294bce79"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags assigned to the endpoint.",
            "example": [
              "prod",
              "llm"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time (ISO 8601)."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time (ISO 8601)."
          }
        }
      },
      "EndpointListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EndpointListItem"
            },
            "description": "Array of endpoint objects."
          },
          "total": {
            "type": "integer",
            "description": "Total number of endpoints.",
            "example": 5
          },
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "Items per page.",
            "example": 50
          },
          "pages": {
            "type": "integer",
            "description": "Total number of pages.",
            "example": 1
          }
        }
      },
      "EndpointStatusResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "Unique endpoint ID.",
            "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "name": {
            "type": "string",
            "description": "Endpoint name.",
            "example": "aieev-endpoint"
          },
          "endpoint_type": {
            "type": "string",
            "description": "Endpoint type.",
            "example": "container"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the endpoint is active.",
            "example": true
          },
          "status": {
            "type": "string",
            "description": "Current status. When active, fetched in real-time from Ray Serve.",
            "example": "RUNNING"
          },
          "num_replicas": {
            "type": "integer",
            "description": "Current number of replicas.",
            "example": 2
          },
          "enable_autoscaling": {
            "type": "boolean",
            "description": "Whether autoscaling is enabled.",
            "example": false
          },
          "instance_type_name": {
            "type": "string",
            "nullable": true,
            "description": "Instance type name.",
            "example": "RTX 5090"
          },
          "serving_endpoint_url": {
            "type": "string",
            "nullable": true,
            "description": "Public endpoint URL.",
            "example": "https://ap-1.aieev.cloud/endpoints/51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "error": {
            "$ref": "#/components/schemas/ProblemDetails"
          },
          "replica_status_summary": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Replica count by status. Only available when endpoint is active.",
            "example": {
              "RUNNING": 2,
              "STARTING": 0
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags assigned to the endpoint.",
            "example": [
              "prod",
              "llm"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        }
      },
      "StartStopResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "Unique endpoint ID.",
            "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "is_active": {
            "type": "boolean",
            "description": "Active status after the operation.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Result message.",
            "example": "Endpoint started successfully"
          }
        }
      },
      "ScaleReplicasInput": {
        "type": "object",
        "required": [
          "num_replicas"
        ],
        "properties": {
          "num_replicas": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Desired number of replicas (1-100).",
            "example": 3
          }
        }
      },
      "ScaleReplicasResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "Unique endpoint ID.",
            "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "previous_replicas": {
            "type": "integer",
            "description": "Replica count before scaling.",
            "example": 1
          },
          "current_replicas": {
            "type": "integer",
            "description": "Replica count after scaling.",
            "example": 3
          },
          "message": {
            "type": "string",
            "description": "Result message.",
            "example": "Successfully scaled from 1 to 3 replicas"
          }
        }
      },
      "EndpointPatchInput": {
        "type": "object",
        "properties": {
          "container_start_command": {
            "type": "string",
            "nullable": true,
            "description": "Container start command.",
            "example": "python app.py"
          },
          "container_env_vars": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Environment variable key.",
                  "example": "ENV"
                },
                "value": {
                  "type": "string",
                  "description": "Environment variable value.",
                  "example": "prod"
                }
              }
            },
            "description": "Container environment variables."
          },
          "container_port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "nullable": true,
            "description": "Container service port (1-65535).",
            "example": 8080
          },
          "container_health_check_path": {
            "type": "string",
            "nullable": true,
            "description": "Health check endpoint path.",
            "example": "/healthz"
          },
          "container_health_check_timeout": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Container health check timeout in seconds.",
            "example": 30
          },
          "health_check_timeout": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Overall health check timeout in seconds. Deployment fails if health check does not pass within this time.",
            "example": 300
          },
          "container_metric_path": {
            "type": "string",
            "nullable": true,
            "description": "Prometheus metrics endpoint path.",
            "example": "/metrics"
          },
          "auth_mode": {
            "type": "string",
            "enum": [
              "api_key",
              "oidc",
              "none"
            ],
            "nullable": true,
            "description": "Authentication mode for the endpoint's public URL. `api_key` requires an AirCloud API key, `oidc` uses OIDC login, and `none` exposes the endpoint without AirCloud authentication.",
            "example": "api_key"
          }
        }
      },
      "EndpointPatchResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "Unique endpoint ID."
          },
          "name": {
            "type": "string",
            "description": "Endpoint name."
          },
          "is_active": {
            "type": "boolean",
            "description": "Active status (always false after successful patch)."
          },
          "container_start_command": {
            "type": "string",
            "nullable": true,
            "description": "Current start command."
          },
          "container_env_vars": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object"
            },
            "description": "Current environment variables."
          },
          "container_port": {
            "type": "integer",
            "nullable": true,
            "description": "Current port."
          },
          "container_health_check_path": {
            "type": "string",
            "nullable": true,
            "description": "Current health check path."
          },
          "container_health_check_timeout": {
            "type": "integer",
            "nullable": true,
            "description": "Current health check timeout."
          },
          "health_check_timeout": {
            "type": "integer",
            "nullable": true,
            "description": "Current overall health check timeout."
          },
          "container_metric_path": {
            "type": "string",
            "nullable": true,
            "description": "Current metric path."
          },
          "auth_mode": {
            "type": "string",
            "nullable": true,
            "description": "Current authentication mode for the endpoint's public URL.",
            "example": "api_key"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Update time."
          }
        }
      },
      "ReplicaResponse": {
        "type": "object",
        "properties": {
          "replica_id": {
            "type": "string",
            "description": "Unique replica ID.",
            "example": "2xoeq1pe"
          },
          "state": {
            "type": "string",
            "description": "Replica state (RUNNING, STARTING, STOPPING, etc.).",
            "example": "RUNNING"
          },
          "node_id": {
            "type": "string",
            "nullable": true,
            "description": "Node ID where the replica is running."
          },
          "node_ip": {
            "type": "string",
            "nullable": true,
            "description": "Node IP address.",
            "example": "100.64.0.11"
          },
          "actor_id": {
            "type": "string",
            "nullable": true,
            "description": "Ray actor ID."
          },
          "actor_name": {
            "type": "string",
            "nullable": true,
            "description": "Ray actor name."
          },
          "worker_id": {
            "type": "string",
            "nullable": true,
            "description": "Ray worker ID."
          },
          "pid": {
            "type": "integer",
            "nullable": true,
            "description": "Process ID."
          },
          "start_time_s": {
            "type": "number",
            "nullable": true,
            "description": "Replica start time (Unix timestamp in seconds)."
          }
        }
      },
      "LogFile": {
        "type": "object",
        "properties": {
          "node_id": {
            "type": "string",
            "description": "Node ID where the log is stored."
          },
          "replica_id": {
            "type": "string",
            "description": "Associated replica ID."
          },
          "filename": {
            "type": "string",
            "description": "Log file path. Use as the `filename` parameter in the `/logs/file` API."
          },
          "is_historical": {
            "type": "boolean",
            "description": "Whether this is a rotated historical log file from a terminated replica."
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Log start time. Only available for historical logs."
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Log end time. Only available for historical logs."
          }
        }
      },
      "LogContent": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Log file content for the specified line range. Each line is a JSON log entry."
          },
          "start_line": {
            "type": "integer",
            "description": "Actual start line number returned."
          },
          "end_line": {
            "type": "integer",
            "description": "Actual end line number returned."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "detail": {
            "type": "string",
            "description": "Error detail."
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "nullable": true,
        "description": "Problem details for the endpoint, following RFC 9457. Present only when the live status lookup failed or the serving application reported an error; the response itself is still 200.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Problem type identifier, for example `/errors/upstream-timeout`.",
            "example": "/errors/upstream-timeout"
          },
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem.",
            "example": "Upstream timeout"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code that corresponds to the problem.",
            "example": 504
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation of this specific occurrence."
          },
          "code": {
            "type": "string",
            "description": "AirCloud error code.",
            "example": "UPSTREAM_TIMEOUT"
          },
          "layer": {
            "type": "integer",
            "nullable": true,
            "description": "Internal layer that produced the problem.",
            "example": 0
          },
          "context": {
            "type": "object",
            "nullable": true,
            "description": "Additional context for the problem, when available."
          }
        }
      },
      "AttachedRef": {
        "properties": {
          "id": {
            "type": "string",
            "description": "ID."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Name."
          }
        },
        "type": "object",
        "required": [
          "id"
        ]
      },
      "EndpointEnvVars": {
        "properties": {
          "key": {
            "type": "string",
            "description": "Variable name."
          },
          "value": {
            "nullable": true,
            "description": "Variable value."
          }
        },
        "type": "object",
        "required": [
          "key"
        ]
      },
      "ExternalJobCreateRequest": {
        "properties": {
          "project_id": {
            "type": "string",
            "nullable": true,
            "description": "Project ID. Optional - defaults to the API key's project."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Job name."
          },
          "instance_type_id": {
            "type": "string",
            "description": "Instance type ID from the instance types list."
          },
          "registry_url": {
            "type": "string",
            "description": "Container image URL, for example `python:3.11-slim`."
          },
          "registry_type": {
            "type": "string",
            "enum": [
              "docker_hub",
              "aws_ecr",
              "github_container_registry",
              "gcp_artifact_registry",
              ""
            ],
            "nullable": true,
            "description": "Registry type. Defaults to `docker_hub`."
          },
          "image_is_public": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the image is public. Set `false` for a private image and provide registry credentials."
          },
          "registry_username": {
            "type": "string",
            "nullable": true,
            "description": "Registry username for a private image."
          },
          "registry_password": {
            "type": "string",
            "nullable": true,
            "description": "Registry password for a private image. Never returned in responses."
          },
          "registry_region": {
            "type": "string",
            "nullable": true,
            "description": "Registry region (for example for AWS ECR)."
          },
          "command": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "minItems": 1,
            "description": "Command to run in the container, as an array of strings. The image ENTRYPOINT cannot be overridden."
          },
          "env": {
            "items": {
              "$ref": "#/components/schemas/EndpointEnvVars"
            },
            "type": "array",
            "nullable": true,
            "description": "Environment variables as an array of `{key, value}` objects. A plain object is rejected with 422."
          },
          "volume": {
            "$ref": "#/components/schemas/JobVolumeRequest",
            "description": "Volume to mount. A Job can mount only one volume."
          },
          "shm_size_gb": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Shared memory (/dev/shm) size in GB."
          },
          "working_dir": {
            "type": "string",
            "maxLength": 4096,
            "nullable": true,
            "description": "Absolute working directory for the command. Defaults to the image's WORKDIR; created if missing."
          }
        },
        "type": "object",
        "required": [
          "instance_type_id",
          "registry_url",
          "command"
        ],
        "description": "Job definition."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "description": "Validation errors."
          }
        },
        "type": "object"
      },
      "InstanceTypeResponse": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance type ID. Use as `instance_type_id`."
          },
          "name": {
            "type": "string",
            "description": "Instance type name."
          },
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "Display name."
          },
          "canonical_key": {
            "type": "string",
            "nullable": true,
            "description": "Internal; may change without notice."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description."
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the type is active."
          },
          "is_private": {
            "type": "boolean",
            "description": "Whether the type is private."
          },
          "is_available": {
            "type": "boolean",
            "description": "Whether capacity is currently available."
          },
          "vcpu_count": {
            "type": "integer",
            "description": "vCPU count."
          },
          "memory_gb": {
            "type": "integer",
            "description": "Memory in GB."
          },
          "storage_gb": {
            "type": "integer",
            "description": "Storage in GB."
          },
          "gpu_name": {
            "type": "string",
            "description": "GPU model."
          },
          "gpu_vram_gb": {
            "type": "integer",
            "description": "GPU memory in GB."
          },
          "gpu_count": {
            "type": "number",
            "description": "Number of GPUs."
          },
          "price_per_hour": {
            "type": "number",
            "description": "Price per hour."
          },
          "currency": {
            "type": "string",
            "description": "Currency code."
          },
          "deploy_args": {
            "type": "object",
            "nullable": true,
            "description": "Internal; may change without notice."
          },
          "max_replicas": {
            "type": "integer",
            "description": "Maximum number of replicas."
          },
          "is_emulation": {
            "type": "boolean",
            "default": false,
            "description": "Internal; may change without notice."
          },
          "availability_level": {
            "type": "string",
            "enum": [
              "available",
              "limited",
              "low",
              "unavailable"
            ],
            "nullable": true,
            "description": "Current capacity availability level."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "is_active",
          "is_private",
          "is_available",
          "vcpu_count",
          "memory_gb",
          "storage_gb",
          "gpu_name",
          "gpu_vram_gb",
          "gpu_count",
          "price_per_hour",
          "currency",
          "deploy_args",
          "max_replicas",
          "created_at",
          "updated_at"
        ]
      },
      "JobLogLine": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Log line ID."
          },
          "timestamp": {
            "type": "string",
            "description": "Log timestamp."
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "`stdout` or `stderr`."
          },
          "body": {
            "type": "string",
            "description": "Log text."
          }
        },
        "type": "object",
        "required": [
          "id",
          "timestamp",
          "source",
          "body"
        ]
      },
      "JobLogPage": {
        "properties": {
          "records": {
            "items": {
              "$ref": "#/components/schemas/JobLogLine"
            },
            "type": "array",
            "description": "Log lines, newest first."
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether more lines are available."
          },
          "next_offset": {
            "type": "integer",
            "nullable": true,
            "description": "Offset for the next page. `null` when `has_more` is false."
          }
        },
        "type": "object",
        "required": [
          "records",
          "has_more",
          "next_offset"
        ]
      },
      "JobReason": {
        "type": "string",
        "enum": [
          "OOM",
          "USER_EXIT_NONZERO",
          "IMAGE_PULL",
          "PLATFORM_ERROR",
          "PLATFORM_LOST",
          "USER_CANCELLED",
          "CAPACITY_TIMEOUT",
          "BALANCE_EXHAUSTED"
        ],
        "description": "Reason for a failed or cancelled Job. `USER_EXIT_NONZERO`: command exited non-zero; `OOM`: out of memory; `IMAGE_PULL`: image pull failed; `CAPACITY_TIMEOUT`: waited more than 900 seconds for resources; `PLATFORM_ERROR` / `PLATFORM_LOST`: infrastructure failure (not restarted automatically; resubmit); `USER_CANCELLED`: cancelled by request; `BALANCE_EXHAUSTED`: cancelled because the prepaid balance ran out."
      },
      "JobResponse": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Job ID."
          },
          "organization_id": {
            "type": "string",
            "description": "Organization ID."
          },
          "project_id": {
            "type": "string",
            "description": "Project ID."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Job name."
          },
          "instance_type_id": {
            "type": "string",
            "description": "Instance type ID."
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus",
            "description": "Current status."
          },
          "reason": {
            "$ref": "#/components/schemas/JobReason",
            "description": "Reason for a failed or cancelled Job. `null` otherwise."
          },
          "exit_code": {
            "type": "integer",
            "nullable": true,
            "description": "Exit code of the user's command."
          },
          "message": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable detail about the current status or failure, when available."
          },
          "cluster_name": {
            "type": "string",
            "nullable": true,
            "description": "Internal; may change without notice."
          },
          "container_name": {
            "type": "string",
            "nullable": true,
            "description": "Internal; may change without notice."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Submission time (UTC)."
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Start time (UTC)."
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Finish time (UTC)."
          },
          "cancel_requested_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Time the cancellation was requested (UTC)."
          },
          "status_unknown_since": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Set when the platform temporarily cannot confirm the Job's state; null otherwise."
          },
          "progress": {
            "type": "number",
            "nullable": true,
            "description": "Progress. Currently always `null`."
          }
        },
        "type": "object",
        "required": [
          "id",
          "organization_id",
          "project_id",
          "name",
          "instance_type_id",
          "status",
          "reason",
          "exit_code",
          "message",
          "cluster_name",
          "container_name",
          "created_at",
          "started_at",
          "finished_at",
          "cancel_requested_at",
          "status_unknown_since"
        ]
      },
      "JobStatus": {
        "type": "string",
        "enum": [
          "QUEUED",
          "PENDING",
          "STARTING",
          "RUNNING",
          "SUCCEEDED",
          "FAILED",
          "CANCELLING",
          "CANCELLED"
        ],
        "description": "Job status. Lifecycle: `QUEUED` -> `PENDING` (waiting for resources) -> `STARTING` -> `RUNNING` -> `SUCCEEDED` / `FAILED`; `CANCELLING` -> `CANCELLED` after a cancel request."
      },
      "JobUsageInterval": {
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Interval start."
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "Interval end."
          },
          "instance_type_id": {
            "type": "string",
            "description": "Instance type ID."
          },
          "minutes": {
            "type": "integer",
            "description": "Minutes in this interval."
          },
          "amount": {
            "type": "integer",
            "description": "Amount for this interval."
          },
          "price_per_hour": {
            "type": "integer",
            "nullable": true,
            "description": "Hourly price applied."
          },
          "billed": {
            "type": "boolean",
            "description": "Whether this interval has been charged."
          }
        },
        "type": "object",
        "required": [
          "start",
          "end",
          "instance_type_id",
          "minutes",
          "amount",
          "billed"
        ]
      },
      "JobUsageItem": {
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Job ID."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Job name."
          },
          "billed_minutes": {
            "type": "integer",
            "description": "Billed minutes."
          },
          "amount": {
            "type": "integer",
            "description": "Confirmed amount."
          },
          "pending_amount": {
            "type": "integer",
            "description": "Estimated amount not yet charged."
          },
          "first_start": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Start of the first interval."
          },
          "last_end": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "End of the last interval."
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "name",
          "billed_minutes",
          "amount",
          "pending_amount",
          "first_start",
          "last_end"
        ]
      },
      "JobUsageResponse": {
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Job ID."
          },
          "currency": {
            "type": "string",
            "description": "Currency code."
          },
          "billed_minutes": {
            "type": "integer",
            "description": "Billed minutes (10-minute units, minimum 10)."
          },
          "amount": {
            "type": "integer",
            "description": "Confirmed (charged) amount."
          },
          "pending_amount": {
            "type": "integer",
            "description": "Estimated amount for intervals not yet charged. Can be higher than the final charge."
          },
          "intervals": {
            "items": {
              "$ref": "#/components/schemas/JobUsageInterval"
            },
            "type": "array",
            "description": "Usage per 10-minute interval."
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "currency",
          "billed_minutes",
          "amount",
          "pending_amount",
          "intervals"
        ]
      },
      "JobVolumeRequest": {
        "properties": {
          "volume_id": {
            "type": "string",
            "description": "Volume ID."
          },
          "mounts": {
            "items": {
              "$ref": "#/components/schemas/VolumeMountSpec"
            },
            "type": "array",
            "minItems": 1,
            "description": "Mount points. At least one."
          }
        },
        "type": "object",
        "required": [
          "volume_id",
          "mounts"
        ],
        "description": "Volume mount for a Job."
      },
      "InstanceTypeListResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/InstanceTypeResponse"
            },
            "type": "array",
            "description": "Instance types on this page."
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "nullable": true,
            "description": "Total number of items."
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Current page."
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Page size."
          },
          "pages": {
            "type": "integer",
            "minimum": 0,
            "nullable": true,
            "description": "Total pages."
          }
        },
        "type": "object",
        "required": [
          "items",
          "page",
          "size"
        ]
      },
      "ProjectUsageResponse": {
        "properties": {
          "project_id": {
            "type": "string",
            "description": "Project ID."
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the range."
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "End of the range."
          },
          "currency": {
            "type": "string",
            "description": "Currency code."
          },
          "total_amount": {
            "type": "integer",
            "description": "Total confirmed amount."
          },
          "total_pending_amount": {
            "type": "integer",
            "description": "Total estimated amount not yet charged."
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/JobUsageItem"
            },
            "type": "array",
            "description": "Usage per Job."
          }
        },
        "type": "object",
        "required": [
          "project_id",
          "start_date",
          "end_date",
          "currency",
          "total_amount",
          "total_pending_amount",
          "items"
        ]
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "description": "Location of the error."
          },
          "msg": {
            "type": "string",
            "description": "Error message."
          },
          "type": {
            "type": "string",
            "description": "Error type."
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ]
      },
      "VolumeMountSpec": {
        "properties": {
          "subpath": {
            "type": "string",
            "default": "",
            "description": "Subpath inside the volume. Empty string mounts the volume root."
          },
          "container_path": {
            "type": "string",
            "description": "Absolute mount path in the container."
          }
        },
        "type": "object",
        "required": [
          "container_path"
        ],
        "description": "Binds a subpath of the volume to a path in the container."
      },
      "VolumeResponse": {
        "properties": {
          "volume_id": {
            "type": "string",
            "description": "Volume ID."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Volume name."
          },
          "size_gb": {
            "type": "integer",
            "nullable": true,
            "description": "Size in GB."
          },
          "status": {
            "type": "string",
            "description": "Volume status."
          },
          "organization_id": {
            "type": "string",
            "nullable": true,
            "description": "Organization ID."
          },
          "project_id": {
            "type": "string",
            "nullable": true,
            "description": "Project ID."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Creation time."
          },
          "attached_endpoints": {
            "items": {
              "$ref": "#/components/schemas/AttachedRef"
            },
            "type": "array",
            "default": [],
            "description": "Endpoints this volume is attached to."
          },
          "attached_jobs": {
            "items": {
              "$ref": "#/components/schemas/AttachedRef"
            },
            "type": "array",
            "default": [],
            "description": "Jobs this volume is attached to."
          }
        },
        "type": "object",
        "required": [
          "volume_id",
          "status"
        ]
      }
    }
  }
}
