{
  "openapi": "3.1.0",
  "info": {
    "title": "AirCloud External API",
    "description": "AirCloud 엔드포인트와 Job을 프로그래밍 방식으로 관리하는 REST API입니다.",
    "version": "1.0.0",
    "contact": {
      "name": "support",
      "url": "https://aieev.com",
      "email": "support@aieev.cloud"
    }
  },
  "servers": [
    {
      "url": "https://external.aieev.cloud:5000/external/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "API Key 인증 정보 확인"
    },
    {
      "name": "Endpoints",
      "description": "엔드포인트 관리: 조회, 시작, 중지, 스케일링, 설정 변경"
    },
    {
      "name": "Replicas",
      "description": "레플리카 상태 조회"
    },
    {
      "name": "Logs",
      "description": "엔드포인트 로그 조회"
    },
    {
      "name": "Jobs",
      "description": "완료될 때까지 실행되는 Job 제출 및 관리"
    },
    {
      "name": "Usage",
      "description": "Job 사용량 및 비용 조회"
    },
    {
      "name": "Volumes",
      "description": "Job이 마운트할 수 있는 볼륨 조회"
    },
    {
      "name": "Instance Types",
      "description": "Job에 사용할 수 있는 인스턴스 타입 조회"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "인증 컨텍스트 조회",
        "description": "현재 사용 중인 API key가 어떤 organization, project, user에 매핑되어 있는지 조회합니다.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "인증 컨텍스트 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "API Key 누락 또는 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "엔드포인트 목록 조회",
        "description": "현재 API key로 접근 가능한 엔드포인트 목록을 페이지네이션으로 조회합니다.",
        "operationId": "listEndpoints",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "필터링할 프로젝트 ID입니다. 선택 항목이며, API 키에 지정된 프로젝트와 같아야 합니다. 다른 값을 넣으면 403이 반환됩니다.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          },
          {
            "name": "search",
            "in": "query",
            "description": "엔드포인트 이름으로 검색",
            "schema": {
              "type": "string",
              "example": "my-model"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "활성 상태로 필터링. `true`면 실행 중인 엔드포인트만, `false`면 중지된 엔드포인트만 반환",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호. 1부터 시작",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지당 항목 수. 최소 1, 최대 2000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointListResponse"
                }
              }
            }
          },
          "401": {
            "description": "API Key 누락 또는 유효하지 않음"
          }
        }
      }
    },
    "/endpoints/{endpoint_id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "엔드포인트 상태 조회",
        "description": "특정 엔드포인트의 현재 상태를 조회합니다. 활성 상태일 경우 레플리카 상태 요약도 포함됩니다.",
        "operationId": "getEndpointStatus",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string",
              "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointStatusResponse"
                }
              }
            }
          },
          "403": {
            "description": "엔드포인트가 해당 조직 또는 프로젝트에 속하지 않음"
          },
          "404": {
            "description": "엔드포인트를 찾을 수 없음"
          }
        }
      },
      "patch": {
        "tags": [
          "Endpoints"
        ],
        "summary": "엔드포인트 설정 수정",
        "description": "비활성 엔드포인트의 런타임 설정을 수정합니다. 최소 하나 이상의 필드를 제공해야 합니다. 활성 상태이면 먼저 중지해야 합니다.",
        "operationId": "patchEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "수정할 필드. 모든 필드가 선택사항이지만, 최소 하나는 제공해야 합니다.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndpointPatchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정된 엔드포인트 설정",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointPatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "수정할 필드가 하나도 제공되지 않음"
          },
          "409": {
            "description": "엔드포인트가 활성 상태. 먼저 중지해야 함"
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/start": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "엔드포인트 시작",
        "description": "비활성 상태의 엔드포인트를 시작합니다. 조직의 크레딧 잔액이 충분해야 합니다. 레플리카 스케일링 전에 반드시 엔드포인트가 활성화되어 있어야 합니다.",
        "operationId": "startEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 시작 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartStopResponse"
                },
                "examples": {
                  "started": {
                    "summary": "시작 성공",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": true,
                      "message": "Endpoint started successfully"
                    }
                  },
                  "already_active": {
                    "summary": "이미 활성 상태",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": true,
                      "message": "Endpoint is already active"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "시작 실패 (잔액 부족, 리소스 할당 실패 등)"
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/stop": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "엔드포인트 중지",
        "description": "활성 상태의 엔드포인트를 중지합니다.",
        "operationId": "stopEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "엔드포인트 중지 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartStopResponse"
                },
                "examples": {
                  "stopped": {
                    "summary": "중지 성공",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": false,
                      "message": "Endpoint stopped successfully"
                    }
                  },
                  "already_stopped": {
                    "summary": "이미 중지 상태",
                    "value": {
                      "endpoint_id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "is_active": false,
                      "message": "Endpoint is already stopped"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "중지 실패"
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/scale": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "레플리카 스케일링",
        "description": "활성 엔드포인트의 레플리카 수를 조정합니다. 오토스케일링이 비활성화된 상태에서만 사용 가능합니다.",
        "operationId": "scaleEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScaleReplicasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "스케일링 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScaleReplicasResponse"
                }
              }
            }
          },
          "400": {
            "description": "엔드포인트가 비활성 상태이거나 오토스케일링이 활성화된 상태"
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/replicas": {
      "get": {
        "tags": [
          "Replicas"
        ],
        "summary": "레플리카 목록 조회",
        "description": "특정 엔드포인트에서 현재 실행 중인 레플리카 목록을 조회합니다.",
        "operationId": "listReplicas",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "레플리카 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReplicaResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "로그 파일 목록 조회",
        "description": "특정 엔드포인트의 로그 파일 목록을 조회합니다. 레플리카별, 이력 로그 포함 조회가 가능합니다.",
        "operationId": "listLogFiles",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "특정 레플리카의 로그만 필터링",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_history",
            "in": "query",
            "description": "`false`로 설정하면 현재 활성 로그만 반환하고 이전 로테이션된 로그는 제외",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그 파일 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogFile"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}/logs/file": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "로그 파일 내용 조회",
        "description": "특정 로그 파일의 실제 내용을 라인 범위로 조회합니다.",
        "operationId": "getLogFileContent",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "엔드포인트 고유 ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "node_id",
            "in": "query",
            "required": true,
            "description": "로그 파일이 위치한 노드 ID. `/logs` 응답의 `node_id` 값 사용",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "로그 파일 경로. `/logs` 응답의 `filename` 값 사용",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_line",
            "in": "query",
            "description": "읽기 시작할 라인 번호. 1부터 시작",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "end_line",
            "in": "query",
            "description": "읽기 종료할 라인 번호. 최대 50000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50000,
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그 파일 내용",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogContent"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Job 제출",
        "description": "컨테이너 이미지와 명령을 완료될 때까지 실행하는 Job을 제출합니다. Job은 대기열에 등록되고 `202 Accepted`와 Job 객체를 반환합니다. 재시도를 안전하게 하려면 `Idempotency-Key` 헤더를 함께 보내세요.\n\n`command`는 문자열 배열입니다. 셸 문법이 필요하면 `[\"sh\", \"-c\", \"...\"]` 형태로 넣으세요. `env`는 `{key, value}` 객체의 배열입니다. Job에는 볼륨을 1개까지만 마운트할 수 있습니다.",
        "operationId": "submitJob",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "권장. 사용자 제출 1회마다 새로 만드는 고유 키(공백 없는 ASCII 1~255자). 같은 요청을 재시도할 때는 같은 키를 사용하세요. 키는 프로젝트 단위로 24시간 유지됩니다. 같은 키와 같은 본문이면 새 Job을 만들지 않고 처음 Job을 그대로 반환하며(`202`, 응답 헤더 `Idempotent-Replayed: true`), 같은 키에 다른 본문이면 422를 반환합니다. 키가 없으면 요청마다 새 Job이 생성됩니다.",
            "schema": {
              "type": "string",
              "pattern": "^[\\x21-\\x7E]{1,255}$",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Job 정의",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalJobCreateRequest"
              },
              "example": {
                "name": "hello",
                "instance_type_id": "it-xxxxxxxx",
                "registry_url": "python:3.11-slim",
                "registry_type": "docker_hub",
                "image_is_public": true,
                "command": [
                  "python",
                  "-c",
                  "import os; print('epochs', os.environ['EPOCHS'])"
                ],
                "env": [
                  {
                    "key": "EPOCHS",
                    "value": "3"
                  }
                ],
                "volume": {
                  "volume_id": "vol-xxxxxxxx",
                  "mounts": [
                    {
                      "container_path": "/data",
                      "subpath": ""
                    }
                  ]
                },
                "shm_size_gb": 8,
                "working_dir": "/data"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job이 접수되어 대기열에 등록됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "QUEUED",
                  "reason": null,
                  "exit_code": null,
                  "message": null,
                  "cluster_name": null,
                  "container_name": null,
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": null,
                  "finished_at": null,
                  "cancel_requested_at": null,
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "400": {
            "description": "플랫폼이 요청을 거부함. 같은 `Idempotency-Key`로 재시도해도 안전합니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Failed to submit job",
                  "detail": "Failed to submit job"
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id`가 API Key의 프로젝트와 일치하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "요청 검증 오류이거나, 같은 `Idempotency-Key`가 다른 요청 본문으로 이미 사용됨",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/HTTPValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "validation_error": {
                    "summary": "검증 오류",
                    "value": {
                      "detail": [
                        {
                          "loc": [
                            "body",
                            "command"
                          ],
                          "msg": "Field required",
                          "type": "missing"
                        }
                      ]
                    }
                  },
                  "idempotency_key_mismatch": {
                    "summary": "다른 본문에 Idempotency-Key 재사용",
                    "value": {
                      "detail": "Idempotency-Key was already used with a different request body"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Job 목록 조회",
        "description": "API Key 프로젝트의 Job 목록을 반환합니다. 상태로 필터링할 수 있습니다.",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "프로젝트 ID. 생략 가능하며, API Key의 프로젝트와 일치해야 합니다. 다른 값이면 403을 반환합니다",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          },
          {
            "name": "status",
            "in": "query",
            "description": "해당 상태의 Job만 반환합니다",
            "schema": {
              "$ref": "#/components/schemas/JobStatus"
            },
            "example": "RUNNING"
          }
        ],
        "responses": {
          "200": {
            "description": "Job 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobResponse"
                  }
                },
                "example": [
                  {
                    "id": "job-0a1b2c3d4e5f",
                    "organization_id": "org-0I2GoSBhwODG",
                    "project_id": "proj-sGF4ynUPbc8H",
                    "name": "hello",
                    "instance_type_id": "it-xxxxxxxx",
                    "status": "QUEUED",
                    "reason": null,
                    "exit_code": null,
                    "message": null,
                    "cluster_name": null,
                    "container_name": null,
                    "created_at": "2026-09-30T05:00:00Z",
                    "started_at": null,
                    "finished_at": null,
                    "cancel_requested_at": null,
                    "status_unknown_since": null,
                    "progress": null
                  }
                ]
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id`가 API Key의 프로젝트와 일치하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "요청 값이 올바르지 않음. POST /jobs에서는 같은 `Idempotency-Key`를 다른 요청 본문으로 재사용한 경우도 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Job 상태 조회",
        "description": "Job의 상태를 반환합니다. 종료된 Job은 `reason`과 `exit_code`를 포함합니다.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Job 고유 ID",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          }
        ],
        "responses": {
          "200": {
            "description": "Job 객체",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "SUCCEEDED",
                  "reason": null,
                  "exit_code": 0,
                  "message": null,
                  "cluster_name": "cluster-xxxx",
                  "container_name": "job-0a1b2c3d4e5f",
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": "2026-09-30T05:01:10Z",
                  "finished_at": "2026-09-30T05:03:42Z",
                  "cancel_requested_at": null,
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "이 프로젝트에서 Job을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          },
          "422": {
            "description": "요청 값이 올바르지 않음. POST /jobs에서는 같은 `Idempotency-Key`를 다른 요청 본문으로 재사용한 경우도 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Job 취소",
        "description": "Job 취소를 요청합니다. 취소 요청이 접수되면 `202`를 반환하고(상태는 `CANCELLING`을 거쳐 `CANCELLED`가 됨), 이미 종료된 Job이면 `200`을 반환합니다.",
        "operationId": "cancelJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Job 고유 ID",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          }
        ],
        "responses": {
          "200": {
            "description": "이미 종료된 Job이라 취소할 것이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "SUCCEEDED",
                  "reason": null,
                  "exit_code": 0,
                  "message": null,
                  "cluster_name": "cluster-xxxx",
                  "container_name": "job-0a1b2c3d4e5f",
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": "2026-09-30T05:01:10Z",
                  "finished_at": "2026-09-30T05:03:42Z",
                  "cancel_requested_at": null,
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "202": {
            "description": "취소 요청이 접수됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "example": {
                  "id": "job-0a1b2c3d4e5f",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "name": "hello",
                  "instance_type_id": "it-xxxxxxxx",
                  "status": "CANCELLING",
                  "reason": null,
                  "exit_code": null,
                  "message": null,
                  "cluster_name": null,
                  "container_name": null,
                  "created_at": "2026-09-30T05:00:00Z",
                  "started_at": null,
                  "finished_at": null,
                  "cancel_requested_at": "2026-09-30T05:02:00Z",
                  "status_unknown_since": null,
                  "progress": null
                }
              }
            }
          },
          "400": {
            "description": "플랫폼이 요청을 거부함.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Failed to cancel job",
                  "detail": "Failed to cancel job"
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "이 프로젝트에서 Job을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/logs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Job 로그 조회",
        "description": "Job의 stdout/stderr 로그를 최신순으로 반환합니다. `has_more`가 true이면 `next_offset`을 `offset`으로 넘겨 다음 페이지를 조회하세요.",
        "operationId": "getJobLogs",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Job 고유 ID",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          },
          {
            "name": "source",
            "in": "query",
            "description": "출력 스트림으로 필터링",
            "schema": {
              "enum": [
                "stdout",
                "stderr"
              ],
              "type": "string",
              "nullable": true
            },
            "example": "stderr"
          },
          {
            "name": "search",
            "in": "query",
            "description": "이 텍스트를 포함한 로그만 반환",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "Error"
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "조회 시작 시각(ISO 8601, 타임존 필수)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "조회 종료 시각(ISO 8601, 타임존 필수)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "페이지당 로그 줄 수. 최소 1, 최대 5000",
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 1,
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "건너뛸 줄 수",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그 페이지",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLogPage"
                },
                "example": {
                  "records": [
                    {
                      "id": "1",
                      "timestamp": "2026-09-30T05:01:20Z",
                      "source": "stdout",
                      "body": "epochs 3"
                    }
                  ],
                  "has_more": false,
                  "next_offset": null
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "이 프로젝트에서 Job을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          },
          "422": {
            "description": "요청 값이 올바르지 않음. POST /jobs에서는 같은 `Idempotency-Key`를 다른 요청 본문으로 재사용한 경우도 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Job 사용량 조회",
        "description": "Job 한 건의 과금 분과 비용을 10분 구간별 내역과 함께 반환합니다. 금액은 KRW 정수입니다. `amount`는 청구가 확정된 금액이고, `pending_amount`는 아직 청구되지 않은 구간의 예상 금액으로 실제 청구액보다 클 수 있습니다.",
        "operationId": "getJobUsage",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Job 고유 ID",
            "schema": {
              "type": "string"
            },
            "example": "job-0a1b2c3d4e5f"
          }
        ],
        "responses": {
          "200": {
            "description": "Job 사용량",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobUsageResponse"
                },
                "example": {
                  "job_id": "job-0a1b2c3d4e5f",
                  "currency": "KRW",
                  "billed_minutes": 10,
                  "amount": 500,
                  "pending_amount": 0,
                  "intervals": [
                    {
                      "start": "2026-09-30T05:01:10Z",
                      "end": "2026-09-30T05:11:10Z",
                      "instance_type_id": "it-xxxxxxxx",
                      "price_per_hour": 3000,
                      "minutes": 10,
                      "amount": 500,
                      "billed": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "이 프로젝트에서 Job을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "JobModel not found",
                  "detail": "JobModel not found"
                }
              }
            }
          },
          "422": {
            "description": "요청 값이 올바르지 않음. POST /jobs에서는 같은 `Idempotency-Key`를 다른 요청 본문으로 재사용한 경우도 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "502": {
            "description": "사용량 데이터를 일시적으로 조회할 수 없음. 잠시 후 다시 시도하세요",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Usage data is temporarily unavailable. Please retry later."
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "프로젝트 사용량 조회",
        "description": "프로젝트의 Job별 사용량 합계를 기간별로 반환합니다(기본 최근 30일, 최대 92일). 프로젝트 API Key로는 조직 잔액과 거래 내역을 조회할 수 없으며, 콘솔에서 확인하세요.",
        "operationId": "getProjectUsage",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "프로젝트 ID. 생략 가능하며, API Key의 프로젝트와 일치해야 합니다. 다른 값이면 403을 반환합니다",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "조회 시작 시각(타임존 포함 ISO 8601, `+`는 `%2B`로 인코딩). 생략하면 `end_date` 30일 전",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "example": "2026-09-01T00:00:00+09:00"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "조회 종료 시각(타임존 포함 ISO 8601). 생략하면 현재 시각. 기간은 최대 92일",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "example": "2026-10-01T00:00:00+09:00"
          }
        ],
        "responses": {
          "200": {
            "description": "프로젝트 사용량",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectUsageResponse"
                },
                "example": {
                  "project_id": "proj-sGF4ynUPbc8H",
                  "start_date": "2026-09-01T00:00:00+09:00",
                  "end_date": "2026-10-01T00:00:00+09:00",
                  "currency": "KRW",
                  "total_amount": 500,
                  "total_pending_amount": 250,
                  "items": [
                    {
                      "job_id": "job-0a1b2c3d4e5f",
                      "name": "hello",
                      "billed_minutes": 10,
                      "amount": 500,
                      "pending_amount": 250,
                      "first_start": "2026-09-30T05:01:10Z",
                      "last_end": "2026-09-30T05:11:10Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id`가 API Key의 프로젝트와 일치하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "날짜 형식 오류 또는 기간이 92일 초과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "502": {
            "description": "사용량 데이터를 일시적으로 조회할 수 없음. 잠시 후 다시 시도하세요",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Usage data is temporarily unavailable. Please retry later."
                }
              }
            }
          }
        }
      }
    },
    "/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "볼륨 목록 조회",
        "description": "Job이 마운트할 수 있는 프로젝트의 볼륨 목록을 반환합니다. 볼륨은 조회만 가능하며 생성과 삭제는 콘솔에서 합니다. 현재는 Endpoint에 붙어 있는 기존 볼륨을 Job이 마운트합니다.",
        "operationId": "listVolumes",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "프로젝트 ID. 생략 가능하며, API Key의 프로젝트와 일치해야 합니다. 다른 값이면 403을 반환합니다",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "proj-sGF4ynUPbc8H"
          }
        ],
        "responses": {
          "200": {
            "description": "볼륨 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VolumeResponse"
                  }
                },
                "example": [
                  {
                    "volume_id": "vol-xxxxxxxx",
                    "name": "my-volume",
                    "size_gb": 100,
                    "status": "available",
                    "organization_id": "org-0I2GoSBhwODG",
                    "project_id": "proj-sGF4ynUPbc8H",
                    "created_at": "2026-08-01T00:00:00Z",
                    "attached_endpoints": [
                      {
                        "id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                        "name": "my-endpoint"
                      }
                    ],
                    "attached_jobs": []
                  }
                ]
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "403": {
            "description": "`project_id`가 API Key의 프로젝트와 일치하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "요청 값이 올바르지 않음. POST /jobs에서는 같은 `Idempotency-Key`를 다른 요청 본문으로 재사용한 경우도 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/volumes/{volume_id}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "볼륨 조회",
        "description": "볼륨 한 건과 연결된 Endpoint, Job 정보를 반환합니다.",
        "operationId": "getVolume",
        "parameters": [
          {
            "name": "volume_id",
            "in": "path",
            "required": true,
            "description": "볼륨 고유 ID",
            "schema": {
              "type": "string"
            },
            "example": "vol-xxxxxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "볼륨 객체",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                },
                "example": {
                  "volume_id": "vol-xxxxxxxx",
                  "name": "my-volume",
                  "size_gb": 100,
                  "status": "available",
                  "organization_id": "org-0I2GoSBhwODG",
                  "project_id": "proj-sGF4ynUPbc8H",
                  "created_at": "2026-08-01T00:00:00Z",
                  "attached_endpoints": [
                    {
                      "id": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598",
                      "name": "my-endpoint"
                    }
                  ],
                  "attached_jobs": []
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "404": {
            "description": "이 프로젝트에서 볼륨을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Volume not found",
                  "detail": "Volume not found"
                }
              }
            }
          },
          "422": {
            "description": "요청 값이 올바르지 않음. POST /jobs에서는 같은 `Idempotency-Key`를 다른 요청 본문으로 재사용한 경우도 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/instance-types": {
      "get": {
        "tags": [
          "Instance Types"
        ],
        "summary": "인스턴스 타입 목록 조회",
        "description": "Job에 사용할 수 있는 인스턴스 타입 목록을 반환합니다. 제출 시 `id`를 `instance_type_id`로 사용하세요. `price_per_hour`는 시간당 가격입니다.",
        "operationId": "listInstanceTypes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호(1부터 시작)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지당 항목 수. 최소 1, 최대 2000",
            "schema": {
              "type": "integer",
              "maximum": 2000,
              "minimum": 1,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "인스턴스 타입 페이지 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceTypeListResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "it-xxxxxxxx",
                      "name": "gpu-a100-1x",
                      "display_name": "A100 x1",
                      "canonical_key": null,
                      "description": "1x A100 80GB",
                      "is_active": true,
                      "is_private": false,
                      "is_available": true,
                      "vcpu_count": 16,
                      "memory_gb": 120,
                      "storage_gb": 200,
                      "gpu_name": "A100",
                      "gpu_vram_gb": 80,
                      "gpu_count": 1,
                      "price_per_hour": 3000,
                      "currency": "KRW",
                      "deploy_args": null,
                      "max_replicas": 1,
                      "is_emulation": false,
                      "availability_level": "available",
                      "created_at": "2026-01-01T00:00:00Z",
                      "updated_at": "2026-01-01T00:00:00Z"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "size": 50,
                  "pages": 1
                }
              }
            }
          },
          "401": {
            "description": "API Key가 없거나 유효하지 않음",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "invalid api key"
              }
            }
          },
          "422": {
            "description": "요청 값이 올바르지 않음. POST /jobs에서는 같은 `Idempotency-Key`를 다른 요청 본문으로 재사용한 경우도 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API Key를 Bearer 토큰으로 전달합니다. 프로젝트 개요의 API 키 메뉴에서 생성할 수 있습니다."
      }
    },
    "schemas": {
      "MeResponse": {
        "type": "object",
        "properties": {
          "organization_id": {
            "type": "string",
            "description": "API Key에 연결된 조직 ID",
            "example": "org-0I2GoSBhwODG"
          },
          "project_id": {
            "type": "string",
            "description": "API Key에 연결된 프로젝트 ID",
            "example": "proj-sGF4ynUPbc8H"
          },
          "api_key_id": {
            "type": "string",
            "description": "인증에 사용된 API Key ID",
            "example": "9e9a776f-2ce6-42c9-ad70-c75936ce662b"
          },
          "user_id": {
            "type": "string",
            "nullable": true,
            "description": "API Key를 생성한 사용자 ID",
            "example": "6377ae7c-8986-477c-ab87-7f8eb63bf785"
          },
          "authenticated_via": {
            "type": "string",
            "description": "인증 방식",
            "example": "api_key"
          }
        }
      },
      "EndpointListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "엔드포인트 고유 ID",
            "example": "cad59665-b77b-4cb6-9308-d276294bce79"
          },
          "name": {
            "type": "string",
            "description": "엔드포인트 이름",
            "example": "my-llm-endpoint"
          },
          "endpoint_type": {
            "type": "string",
            "description": "엔드포인트 유형",
            "example": "container"
          },
          "is_active": {
            "type": "boolean",
            "description": "현재 활성(실행 중) 여부",
            "example": true
          },
          "status": {
            "type": "string",
            "description": "현재 상태 (RUNNING, STOPPED, DEPLOYING 등)",
            "example": "RUNNING"
          },
          "num_replicas": {
            "type": "integer",
            "description": "현재 레플리카 수",
            "example": 2
          },
          "enable_autoscaling": {
            "type": "boolean",
            "description": "오토스케일링 활성화 여부",
            "example": false
          },
          "instance_type_name": {
            "type": "string",
            "nullable": true,
            "description": "할당된 인스턴스 타입 이름",
            "example": "RTX 4070 Super"
          },
          "serving_endpoint_url": {
            "type": "string",
            "nullable": true,
            "description": "엔드포인트 공개 URL",
            "example": "https://ap-1.aieev.cloud/endpoints/cad59665-b77b-4cb6-9308-d276294bce79"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "엔드포인트에 지정된 태그입니다.",
            "example": [
              "prod",
              "llm"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 시간 (ISO 8601)"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 시간 (ISO 8601)"
          }
        }
      },
      "EndpointListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EndpointListItem"
            },
            "description": "엔드포인트 객체 배열"
          },
          "total": {
            "type": "integer",
            "description": "전체 엔드포인트 수",
            "example": 5
          },
          "page": {
            "type": "integer",
            "description": "현재 페이지 번호",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "페이지당 항목 수",
            "example": 50
          },
          "pages": {
            "type": "integer",
            "description": "전체 페이지 수",
            "example": 1
          }
        }
      },
      "EndpointStatusResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "엔드포인트 고유 ID",
            "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "name": {
            "type": "string",
            "description": "엔드포인트 이름",
            "example": "aieev-endpoint"
          },
          "endpoint_type": {
            "type": "string",
            "description": "엔드포인트 유형",
            "example": "container"
          },
          "is_active": {
            "type": "boolean",
            "description": "현재 활성 여부",
            "example": true
          },
          "status": {
            "type": "string",
            "description": "현재 상태. 활성 시 Ray Serve에서 실시간 조회",
            "example": "RUNNING"
          },
          "num_replicas": {
            "type": "integer",
            "description": "현재 레플리카 수",
            "example": 2
          },
          "enable_autoscaling": {
            "type": "boolean",
            "description": "오토스케일링 활성화 여부",
            "example": false
          },
          "instance_type_name": {
            "type": "string",
            "nullable": true,
            "description": "인스턴스 타입 이름",
            "example": "RTX 5090"
          },
          "serving_endpoint_url": {
            "type": "string",
            "nullable": true,
            "description": "엔드포인트 공개 URL",
            "example": "https://ap-1.aieev.cloud/endpoints/51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "error": {
            "$ref": "#/components/schemas/ProblemDetails"
          },
          "replica_status_summary": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "integer"
            },
            "description": "상태별 레플리카 수. 활성 상태에서만 제공",
            "example": {
              "RUNNING": 2,
              "STARTING": 0
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "엔드포인트에 지정된 태그입니다.",
            "example": [
              "prod",
              "llm"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 시간"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 시간"
          }
        }
      },
      "StartStopResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "엔드포인트 고유 ID",
            "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "is_active": {
            "type": "boolean",
            "description": "작업 후 활성 상태",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "결과 메시지",
            "example": "Endpoint started successfully"
          }
        }
      },
      "ScaleReplicasInput": {
        "type": "object",
        "required": [
          "num_replicas"
        ],
        "properties": {
          "num_replicas": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "변경할 레플리카 수 (1-100)",
            "example": 3
          }
        }
      },
      "ScaleReplicasResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "엔드포인트 고유 ID",
            "example": "51c910f7-ecde-4c6c-88f8-d8e37ca9d598"
          },
          "previous_replicas": {
            "type": "integer",
            "description": "변경 전 레플리카 수",
            "example": 1
          },
          "current_replicas": {
            "type": "integer",
            "description": "변경 후 레플리카 수",
            "example": 3
          },
          "message": {
            "type": "string",
            "description": "결과 메시지",
            "example": "Successfully scaled from 1 to 3 replicas"
          }
        }
      },
      "EndpointPatchInput": {
        "type": "object",
        "properties": {
          "container_start_command": {
            "type": "string",
            "nullable": true,
            "description": "컨테이너 시작 명령어",
            "example": "python app.py"
          },
          "container_env_vars": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "환경변수 키",
                  "example": "ENV"
                },
                "value": {
                  "type": "string",
                  "description": "환경변수 값",
                  "example": "prod"
                }
              }
            },
            "description": "컨테이너 환경 변수 목록"
          },
          "container_port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "nullable": true,
            "description": "컨테이너 서비스 포트 (1-65535)",
            "example": 8080
          },
          "container_health_check_path": {
            "type": "string",
            "nullable": true,
            "description": "헬스체크 경로",
            "example": "/healthz"
          },
          "container_health_check_timeout": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "컨테이너 헬스체크 타임아웃(초)",
            "example": 30
          },
          "health_check_timeout": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "전체 헬스체크 타임아웃(초). 이 시간 내에 헬스체크가 통과하지 않으면 배포 실패",
            "example": 300
          },
          "container_metric_path": {
            "type": "string",
            "nullable": true,
            "description": "Prometheus 메트릭 수집 경로",
            "example": "/metrics"
          },
          "auth_mode": {
            "type": "string",
            "enum": [
              "api_key",
              "oidc",
              "none"
            ],
            "nullable": true,
            "description": "엔드포인트 공개 URL의 인증 방식입니다. `api_key`는 AirCloud API 키를 요구하고, `oidc`는 OIDC 로그인을 사용하며, `none`은 AirCloud 인증 없이 공개합니다.",
            "example": "api_key"
          }
        }
      },
      "EndpointPatchResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "엔드포인트 고유 ID"
          },
          "name": {
            "type": "string",
            "description": "엔드포인트 이름"
          },
          "is_active": {
            "type": "boolean",
            "description": "활성 여부 (수정 성공 시 항상 false)"
          },
          "container_start_command": {
            "type": "string",
            "nullable": true,
            "description": "현재 설정된 시작 명령어"
          },
          "container_env_vars": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object"
            },
            "description": "현재 설정된 환경변수"
          },
          "container_port": {
            "type": "integer",
            "nullable": true,
            "description": "현재 설정된 포트"
          },
          "container_health_check_path": {
            "type": "string",
            "nullable": true,
            "description": "현재 설정된 헬스체크 경로"
          },
          "container_health_check_timeout": {
            "type": "integer",
            "nullable": true,
            "description": "현재 설정된 헬스체크 타임아웃"
          },
          "health_check_timeout": {
            "type": "integer",
            "nullable": true,
            "description": "현재 설정된 전체 헬스체크 타임아웃"
          },
          "container_metric_path": {
            "type": "string",
            "nullable": true,
            "description": "현재 설정된 메트릭 경로"
          },
          "auth_mode": {
            "type": "string",
            "nullable": true,
            "description": "엔드포인트 공개 URL의 현재 인증 방식입니다.",
            "example": "api_key"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 시간"
          }
        }
      },
      "ReplicaResponse": {
        "type": "object",
        "properties": {
          "replica_id": {
            "type": "string",
            "description": "레플리카 고유 ID",
            "example": "2xoeq1pe"
          },
          "state": {
            "type": "string",
            "description": "레플리카 상태 (RUNNING, STARTING, STOPPING 등)",
            "example": "RUNNING"
          },
          "node_id": {
            "type": "string",
            "nullable": true,
            "description": "레플리카가 실행 중인 노드 ID"
          },
          "node_ip": {
            "type": "string",
            "nullable": true,
            "description": "노드 IP 주소",
            "example": "100.64.0.11"
          },
          "actor_id": {
            "type": "string",
            "nullable": true,
            "description": "Ray actor ID"
          },
          "actor_name": {
            "type": "string",
            "nullable": true,
            "description": "Ray actor 이름"
          },
          "worker_id": {
            "type": "string",
            "nullable": true,
            "description": "Ray worker ID"
          },
          "pid": {
            "type": "integer",
            "nullable": true,
            "description": "프로세스 ID"
          },
          "start_time_s": {
            "type": "number",
            "nullable": true,
            "description": "레플리카 시작 시간 (Unix timestamp, 초 단위)"
          }
        }
      },
      "LogFile": {
        "type": "object",
        "properties": {
          "node_id": {
            "type": "string",
            "description": "로그가 저장된 노드 ID"
          },
          "replica_id": {
            "type": "string",
            "description": "연결된 레플리카 ID"
          },
          "filename": {
            "type": "string",
            "description": "로그 파일 경로. /logs/file API의 filename 파라미터에 사용"
          },
          "is_historical": {
            "type": "boolean",
            "description": "이전 로테이션된(과거) 로그 파일 여부. true이면 종료된 레플리카의 로그"
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "로그 시작 시간. 이력 로그에서만 제공"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "로그 종료 시간. 이력 로그에서만 제공"
          }
        }
      },
      "LogContent": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "로그 파일 내용 (지정된 라인 범위). 각 줄은 JSON 형식의 로그 엔트리"
          },
          "start_line": {
            "type": "integer",
            "description": "실제 반환된 시작 라인 번호"
          },
          "end_line": {
            "type": "integer",
            "description": "실제 반환된 종료 라인 번호"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "오류 메시지"
          },
          "detail": {
            "type": "string",
            "description": "오류 상세"
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "nullable": true,
        "description": "RFC 9457 형식의 엔드포인트 오류 정보입니다. 실시간 상태 조회에 실패했거나 서빙 애플리케이션이 오류를 보고한 경우에만 채워지며, 응답 자체는 200입니다.",
        "properties": {
          "type": {
            "type": "string",
            "description": "문제 유형 식별자입니다. 예: `/errors/upstream-timeout`",
            "example": "/errors/upstream-timeout"
          },
          "title": {
            "type": "string",
            "description": "문제를 짧게 요약한 제목입니다.",
            "example": "Upstream timeout"
          },
          "status": {
            "type": "integer",
            "description": "해당 문제에 대응하는 HTTP 상태 코드입니다.",
            "example": 504
          },
          "detail": {
            "type": "string",
            "description": "이번 발생 건에 대한 구체적인 설명입니다."
          },
          "code": {
            "type": "string",
            "description": "AirCloud 오류 코드입니다.",
            "example": "UPSTREAM_TIMEOUT"
          },
          "layer": {
            "type": "integer",
            "nullable": true,
            "description": "문제를 생성한 내부 레이어입니다.",
            "example": 0
          },
          "context": {
            "type": "object",
            "nullable": true,
            "description": "추가 컨텍스트가 있는 경우 함께 전달됩니다."
          }
        }
      },
      "AttachedRef": {
        "properties": {
          "id": {
            "type": "string",
            "description": "ID"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "이름"
          }
        },
        "type": "object",
        "required": [
          "id"
        ]
      },
      "EndpointEnvVars": {
        "properties": {
          "key": {
            "type": "string",
            "description": "변수 이름"
          },
          "value": {
            "nullable": true,
            "description": "변수 값"
          }
        },
        "type": "object",
        "required": [
          "key"
        ]
      },
      "ExternalJobCreateRequest": {
        "properties": {
          "project_id": {
            "type": "string",
            "nullable": true,
            "description": "프로젝트 ID. 생략하면 API Key의 프로젝트가 사용됩니다."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Job 이름"
          },
          "instance_type_id": {
            "type": "string",
            "description": "인스턴스 타입 목록의 ID"
          },
          "registry_url": {
            "type": "string",
            "description": "컨테이너 이미지 URL. 예: `python:3.11-slim`"
          },
          "registry_type": {
            "type": "string",
            "enum": [
              "docker_hub",
              "aws_ecr",
              "github_container_registry",
              "gcp_artifact_registry",
              ""
            ],
            "nullable": true,
            "description": "레지스트리 종류. 기본값은 `docker_hub`"
          },
          "image_is_public": {
            "type": "boolean",
            "nullable": true,
            "description": "공개 이미지 여부. 비공개 이미지면 `false`로 두고 레지스트리 자격 증명을 함께 보냅니다"
          },
          "registry_username": {
            "type": "string",
            "nullable": true,
            "description": "비공개 이미지용 레지스트리 사용자 이름"
          },
          "registry_password": {
            "type": "string",
            "nullable": true,
            "description": "비공개 이미지용 레지스트리 비밀번호. 응답에는 포함되지 않습니다"
          },
          "registry_region": {
            "type": "string",
            "nullable": true,
            "description": "레지스트리 리전(예: AWS ECR)"
          },
          "command": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "minItems": 1,
            "description": "컨테이너에서 실행할 명령(문자열 배열). 이미지의 ENTRYPOINT는 변경할 수 없습니다"
          },
          "env": {
            "items": {
              "$ref": "#/components/schemas/EndpointEnvVars"
            },
            "type": "array",
            "nullable": true,
            "description": "환경 변수. `{key, value}` 객체의 배열이며 dict로 보내면 422가 반환됩니다"
          },
          "volume": {
            "$ref": "#/components/schemas/JobVolumeRequest",
            "description": "마운트할 볼륨. Job당 1개만 사용할 수 있습니다"
          },
          "shm_size_gb": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "공유 메모리(/dev/shm) 크기(GB)"
          },
          "working_dir": {
            "type": "string",
            "maxLength": 4096,
            "nullable": true,
            "description": "명령을 실행할 작업 디렉터리(절대 경로). 생략하면 이미지의 WORKDIR. 없으면 생성됩니다"
          }
        },
        "type": "object",
        "required": [
          "instance_type_id",
          "registry_url",
          "command"
        ],
        "description": "Job 정의"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "description": "검증 오류 목록"
          }
        },
        "type": "object"
      },
      "InstanceTypeResponse": {
        "properties": {
          "id": {
            "type": "string",
            "description": "인스턴스 타입 ID. `instance_type_id`로 사용"
          },
          "name": {
            "type": "string",
            "description": "인스턴스 타입 이름"
          },
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "표시 이름"
          },
          "canonical_key": {
            "type": "string",
            "nullable": true,
            "description": "내부용 값이며 예고 없이 변경될 수 있습니다."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "설명"
          },
          "is_active": {
            "type": "boolean",
            "description": "활성 여부"
          },
          "is_private": {
            "type": "boolean",
            "description": "비공개 여부"
          },
          "is_available": {
            "type": "boolean",
            "description": "현재 사용 가능 여부"
          },
          "vcpu_count": {
            "type": "integer",
            "description": "vCPU 수"
          },
          "memory_gb": {
            "type": "integer",
            "description": "메모리(GB)"
          },
          "storage_gb": {
            "type": "integer",
            "description": "스토리지(GB)"
          },
          "gpu_name": {
            "type": "string",
            "description": "GPU 모델"
          },
          "gpu_vram_gb": {
            "type": "integer",
            "description": "GPU 메모리(GB)"
          },
          "gpu_count": {
            "type": "number",
            "description": "GPU 개수"
          },
          "price_per_hour": {
            "type": "number",
            "description": "시간당 가격"
          },
          "currency": {
            "type": "string",
            "description": "통화 코드"
          },
          "deploy_args": {
            "type": "object",
            "nullable": true,
            "description": "내부용 값이며 예고 없이 변경될 수 있습니다."
          },
          "max_replicas": {
            "type": "integer",
            "description": "최대 레플리카 수"
          },
          "is_emulation": {
            "type": "boolean",
            "default": false,
            "description": "내부용 값이며 예고 없이 변경될 수 있습니다."
          },
          "availability_level": {
            "type": "string",
            "enum": [
              "available",
              "limited",
              "low",
              "unavailable"
            ],
            "nullable": true,
            "description": "현재 가용 수준"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 시각"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 시각"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "is_active",
          "is_private",
          "is_available",
          "vcpu_count",
          "memory_gb",
          "storage_gb",
          "gpu_name",
          "gpu_vram_gb",
          "gpu_count",
          "price_per_hour",
          "currency",
          "deploy_args",
          "max_replicas",
          "created_at",
          "updated_at"
        ]
      },
      "JobLogLine": {
        "properties": {
          "id": {
            "type": "string",
            "description": "로그 줄 ID"
          },
          "timestamp": {
            "type": "string",
            "description": "로그 시각"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "`stdout` 또는 `stderr`"
          },
          "body": {
            "type": "string",
            "description": "로그 내용"
          }
        },
        "type": "object",
        "required": [
          "id",
          "timestamp",
          "source",
          "body"
        ]
      },
      "JobLogPage": {
        "properties": {
          "records": {
            "items": {
              "$ref": "#/components/schemas/JobLogLine"
            },
            "type": "array",
            "description": "로그 줄(최신순)"
          },
          "has_more": {
            "type": "boolean",
            "description": "다음 페이지 존재 여부"
          },
          "next_offset": {
            "type": "integer",
            "nullable": true,
            "description": "다음 페이지의 offset. `has_more`가 false이면 `null`"
          }
        },
        "type": "object",
        "required": [
          "records",
          "has_more",
          "next_offset"
        ]
      },
      "JobReason": {
        "type": "string",
        "enum": [
          "OOM",
          "USER_EXIT_NONZERO",
          "IMAGE_PULL",
          "PLATFORM_ERROR",
          "PLATFORM_LOST",
          "USER_CANCELLED",
          "CAPACITY_TIMEOUT",
          "BALANCE_EXHAUSTED"
        ],
        "description": "실패 또는 취소된 Job의 사유. `USER_EXIT_NONZERO`: 명령이 0이 아닌 코드로 종료, `OOM`: 메모리 부족, `IMAGE_PULL`: 이미지 가져오기 실패, `CAPACITY_TIMEOUT`: 자원 대기 900초 초과, `PLATFORM_ERROR` / `PLATFORM_LOST`: 인프라 장애(자동 재시작 없음, 다시 제출), `USER_CANCELLED`: 사용자 취소, `BALANCE_EXHAUSTED`: 선불 잔액 소진으로 취소"
      },
      "JobResponse": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Job ID"
          },
          "organization_id": {
            "type": "string",
            "description": "조직 ID"
          },
          "project_id": {
            "type": "string",
            "description": "프로젝트 ID"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Job 이름"
          },
          "instance_type_id": {
            "type": "string",
            "description": "인스턴스 타입 ID"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus",
            "description": "현재 상태"
          },
          "reason": {
            "$ref": "#/components/schemas/JobReason",
            "description": "실패 또는 취소된 Job의 사유. 그 외에는 `null`"
          },
          "exit_code": {
            "type": "integer",
            "nullable": true,
            "description": "사용자 명령의 exit code"
          },
          "message": {
            "type": "string",
            "nullable": true,
            "description": "현재 상태 또는 실패에 대한 설명 메시지(있는 경우)"
          },
          "cluster_name": {
            "type": "string",
            "nullable": true,
            "description": "내부용 값이며 예고 없이 변경될 수 있습니다."
          },
          "container_name": {
            "type": "string",
            "nullable": true,
            "description": "내부용 값이며 예고 없이 변경될 수 있습니다."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "제출 시각(UTC)"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "시작 시각(UTC)"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "종료 시각(UTC)"
          },
          "cancel_requested_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "취소 요청 시각(UTC)"
          },
          "status_unknown_since": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "플랫폼이 일시적으로 Job 상태를 확인하지 못할 때 설정되며, 그 외에는 null"
          },
          "progress": {
            "type": "number",
            "nullable": true,
            "description": "진행률. 현재는 항상 `null`"
          }
        },
        "type": "object",
        "required": [
          "id",
          "organization_id",
          "project_id",
          "name",
          "instance_type_id",
          "status",
          "reason",
          "exit_code",
          "message",
          "cluster_name",
          "container_name",
          "created_at",
          "started_at",
          "finished_at",
          "cancel_requested_at",
          "status_unknown_since"
        ]
      },
      "JobStatus": {
        "type": "string",
        "enum": [
          "QUEUED",
          "PENDING",
          "STARTING",
          "RUNNING",
          "SUCCEEDED",
          "FAILED",
          "CANCELLING",
          "CANCELLED"
        ],
        "description": "Job 상태. 흐름: `QUEUED` -> `PENDING`(자원 대기) -> `STARTING` -> `RUNNING` -> `SUCCEEDED` / `FAILED`. 취소 요청 후에는 `CANCELLING` -> `CANCELLED`"
      },
      "JobUsageInterval": {
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "구간 시작"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "구간 종료"
          },
          "instance_type_id": {
            "type": "string",
            "description": "인스턴스 타입 ID"
          },
          "minutes": {
            "type": "integer",
            "description": "구간의 분"
          },
          "amount": {
            "type": "integer",
            "description": "구간 금액"
          },
          "price_per_hour": {
            "type": "integer",
            "nullable": true,
            "description": "적용된 시간당 가격"
          },
          "billed": {
            "type": "boolean",
            "description": "청구 완료 여부"
          }
        },
        "type": "object",
        "required": [
          "start",
          "end",
          "instance_type_id",
          "minutes",
          "amount",
          "billed"
        ]
      },
      "JobUsageItem": {
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Job ID"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Job 이름"
          },
          "billed_minutes": {
            "type": "integer",
            "description": "과금된 분"
          },
          "amount": {
            "type": "integer",
            "description": "확정 금액"
          },
          "pending_amount": {
            "type": "integer",
            "description": "미청구 예상 금액"
          },
          "first_start": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "첫 구간 시작"
          },
          "last_end": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "마지막 구간 종료"
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "name",
          "billed_minutes",
          "amount",
          "pending_amount",
          "first_start",
          "last_end"
        ]
      },
      "JobUsageResponse": {
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Job ID"
          },
          "currency": {
            "type": "string",
            "description": "통화 코드"
          },
          "billed_minutes": {
            "type": "integer",
            "description": "과금된 분(10분 단위, 최소 10분)"
          },
          "amount": {
            "type": "integer",
            "description": "청구가 확정된 금액"
          },
          "pending_amount": {
            "type": "integer",
            "description": "아직 청구되지 않은 구간의 예상 금액. 실제 청구액보다 클 수 있음"
          },
          "intervals": {
            "items": {
              "$ref": "#/components/schemas/JobUsageInterval"
            },
            "type": "array",
            "description": "10분 구간별 사용량"
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "currency",
          "billed_minutes",
          "amount",
          "pending_amount",
          "intervals"
        ]
      },
      "JobVolumeRequest": {
        "properties": {
          "volume_id": {
            "type": "string",
            "description": "볼륨 ID"
          },
          "mounts": {
            "items": {
              "$ref": "#/components/schemas/VolumeMountSpec"
            },
            "type": "array",
            "minItems": 1,
            "description": "마운트 지점(1개 이상)"
          }
        },
        "type": "object",
        "required": [
          "volume_id",
          "mounts"
        ],
        "description": "Job의 볼륨 마운트 설정"
      },
      "InstanceTypeListResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/InstanceTypeResponse"
            },
            "type": "array",
            "description": "현재 페이지의 인스턴스 타입"
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "nullable": true,
            "description": "전체 항목 수"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "현재 페이지"
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "페이지 크기"
          },
          "pages": {
            "type": "integer",
            "minimum": 0,
            "nullable": true,
            "description": "전체 페이지 수"
          }
        },
        "type": "object",
        "required": [
          "items",
          "page",
          "size"
        ]
      },
      "ProjectUsageResponse": {
        "properties": {
          "project_id": {
            "type": "string",
            "description": "프로젝트 ID"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "조회 시작 시각"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "조회 종료 시각"
          },
          "currency": {
            "type": "string",
            "description": "통화 코드"
          },
          "total_amount": {
            "type": "integer",
            "description": "확정 금액 합계"
          },
          "total_pending_amount": {
            "type": "integer",
            "description": "미청구 예상 금액 합계"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/JobUsageItem"
            },
            "type": "array",
            "description": "Job별 사용량"
          }
        },
        "type": "object",
        "required": [
          "project_id",
          "start_date",
          "end_date",
          "currency",
          "total_amount",
          "total_pending_amount",
          "items"
        ]
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "description": "오류 위치"
          },
          "msg": {
            "type": "string",
            "description": "오류 메시지"
          },
          "type": {
            "type": "string",
            "description": "오류 유형"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ]
      },
      "VolumeMountSpec": {
        "properties": {
          "subpath": {
            "type": "string",
            "default": "",
            "description": "볼륨 내부 하위 경로. 빈 문자열이면 볼륨 루트"
          },
          "container_path": {
            "type": "string",
            "description": "컨테이너 안의 마운트 경로(절대 경로)"
          }
        },
        "type": "object",
        "required": [
          "container_path"
        ],
        "description": "볼륨의 하위 경로를 컨테이너 경로에 연결합니다."
      },
      "VolumeResponse": {
        "properties": {
          "volume_id": {
            "type": "string",
            "description": "볼륨 ID"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "볼륨 이름"
          },
          "size_gb": {
            "type": "integer",
            "nullable": true,
            "description": "크기(GB)"
          },
          "status": {
            "type": "string",
            "description": "볼륨 상태"
          },
          "organization_id": {
            "type": "string",
            "nullable": true,
            "description": "조직 ID"
          },
          "project_id": {
            "type": "string",
            "nullable": true,
            "description": "프로젝트 ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "생성 시각"
          },
          "attached_endpoints": {
            "items": {
              "$ref": "#/components/schemas/AttachedRef"
            },
            "type": "array",
            "default": [],
            "description": "이 볼륨이 연결된 Endpoint"
          },
          "attached_jobs": {
            "items": {
              "$ref": "#/components/schemas/AttachedRef"
            },
            "type": "array",
            "default": [],
            "description": "이 볼륨이 연결된 Job"
          }
        },
        "type": "object",
        "required": [
          "volume_id",
          "status"
        ]
      }
    }
  }
}
